.bd-addon-list:not(.bd-grid-view) .bd-addon-card {
    margin-bottom: 8px;
    background: 0 0;
}

.bd-addon-list:not(.bd-grid-view) .bd-addon-header {
    background: 0 0;
    padding-left: 0;
}

.bd-addon-list:not(.bd-grid-view) .bd-addon-card>:not(.bd-addon-header),
.bd-addon-list:not(.bd-grid-view) .bd-icon {
    display: none
}

.bd-addon-list:not(.bd-grid-view) .bd-title>*,
.bd-addon-list:not(.bd-grid-view) .bd-footer>* {
    z-index: 1;
}

.bd-addon-list:not(.bd-grid-view) .bd-title {
    flex: unset;
    z-index: 2;
    margin-left: calc(56px + 16px);
}

/* footer */

.bd-addon-list:not(.bd-grid-view) .bd-addon-card:hover .bd-footer {
    display: flex;
    position: absolute;
    margin-top: 3px;
    right: 40px;
}

.bd-addon-list:not(.bd-grid-view) .bd-links {
    padding-right: 16px;
}

.bd-addon-list:not(.bd-grid-view) .bd-footer .bd-link {
    color: var(--interactive-normal);
}

.bd-addon-list:not(.bd-grid-view) .bd-footer .bd-link:hover {
    color: var(--context-icon-focused);
}

/* controls */

.bd-addon-list:not(.bd-grid-view) .bd-controls>.bd-addon-button,
.bd-addon-list:not(.bd-grid-view) .bd-controls>.bd-addon-button:first-of-type {
    border-radius: var(--context-button-radius);
}

.bd-addon-list:not(.bd-grid-view) .bd-controls>.bd-button:last-of-type {
    border-radius: var(--danger-background-radius);
}

.bd-addon-list:not(.bd-grid-view) .bd-button:not(:hover) {
    background: 0 0;
}

.bd-addon-list:not(.bd-grid-view) .bd-controls>.bd-addon-button svg {
    fill: var(--interactive-normal);
}

.bd-addon-list:not(.bd-grid-view) .bd-controls>.bd-addon-button:hover svg {
    fill: var(--context-icon-focused);
}

.bd-addon-list:not(.bd-grid-view) .bd-addon-button.bd-button-danger:hover {
    background: var(--danger-background-hover);
}

.bd-addon-list:not(.bd-grid-view) .bd-addon-button.bd-button-danger svg {
    fill: var(--danger-icon-normal);
    transform: scale(1.2);
}

.bd-addon-list:not(.bd-grid-view) .bd-addon-button.bd-button-danger:hover svg {
    fill: var(--danger-text-focused);
}

/* description */

@keyframes bdDescriptionVisibility {
    to {
        visibility: visible;
    }
}

.bd-addon-list:not(.bd-grid-view) .bd-addon-card:hover .bd-description-wrap {
    display: flex;
    visibility: hidden;
    animation: bdDescriptionVisibility 0s 1s forwards;
}

.bd-addon-list:not(.bd-grid-view) .bd-description-wrap {
    position: absolute;
    flex: unset;
    padding: unset;
    margin: 54px 0 0 -4px;
    max-width: 300px;
    z-index: 1002;
    background-color: var(--background-floating);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    border-radius: 5px;
}

.bd-addon-list:not(.bd-grid-view) .bd-description {
    margin-bottom: unset;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

/* switch */

.bd-addon-list:not(.bd-grid-view) .bd-switch {
    position: absolute;
    display: flex;
    align-items: center;
    background: var(--background-secondary);
    width: calc(100% - 96px + 16px);
    height: 50px;
    border-radius: 5px;
    order: -1;
}

.bd-addon-list:not(.bd-grid-view) .bd-switch .bd-switch-body {
    pointer-events: none;
    z-index: 2;
    transform: translateX(16px);
}

.bd-addon-list:not(.bd-grid-view) .bd-switch:hover:not(.bd-switch-checked) {
    background: var(--background-modifier-hover);
}

.bd-addon-list:not(.bd-grid-view) .bd-switch:not(.bd-switch-checked)::after {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: var(--background-secondary);
    opacity: 0.3;
}

.bd-addon-list:not(.bd-grid-view) .bd-switch:hover:not(.bd-switch-checked)::after {
    display: none;
}

.bd-addon-list:not(.bd-grid-view) .bd-switch.bd-switch-checked {
    background: var(--background-tertiary);
}
