@import url("https://maendisease.github.io/BetterDiscordStuff/css/BIRBanners.css");

/*betterInvites*/
/*background*/
.wrapper-1HIH0j {
  background: var(--background-secondary-alt);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 173px;
  max-width: 328px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper-1HIH0j:focus,
.wrapper-1HIH0j:hover {
  background: var(--background-tertiary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high)
}

.wrapper-1HIH0j .content-1r-J1r {
  position: relative;
  min-height: 113px;
  z-index: 1
}

.wrapper-1HIH0j .header-3anOjb {
  position: relative;
  z-index: 2
}

.wrapper-1HIH0j .inviteSplash-2nkLRX {
  position: absolute;
  border-radius: 8px 8px 0 0;
  height: 87px;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper-1HIH0j .inviteSplashImage-3f6SDQ {
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper-1HIH0j:hover .inviteSplashImage-3f6SDQ {
  transform: scale(1.01) translateZ(0) !important;
  -webkit-transform: scale(1.01) translateZ(0) !important
}

.BetterInvites-guildBanner {
  max-height: 87px;
  margin: -87px 0;
  top: 43px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0 !important;
  width: 328px
}

.BetterInvites-guildBanner img {
  max-height: 87px !important;
  border-radius: 8px 8px 0 0 !important;
  -webkit-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.wrapper-1HIH0j:hover .BetterInvites-guildBanner img {
  transform: scale(101%)
}

.guildIcon-3ZfRfI {
  position: absolute;
  top: 17px;
  box-shadow: 0 0 0 4px var(--background-secondary-alt);
  background-color: var(--background-secondary-alt);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out
}

.wrapper-1HIH0j:hover .guildIcon-3ZfRfI {
  box-shadow: 0 0 0 4px var(--background-tertiary)
}

.wrapper-1HIH0j .guildInfo-UCKhrV {
  justify-content: initial;
  transform: translate(0, 75px);
  width: 0
}

.wrapper-1HIH0j .statusCounts-3GLDH6 {
  font-weight: 400;
  font-size: 12px
}

.wrapper-1HIH0j .statusOffline-2R-ArP {
  background-color: var(--interactive-normal)
}

.wrapper-1HIH0j .BetterInvites-iconWrapper img {
  width: 18px;
  height: 18px !important
}

.wrapper-1HIH0j .BetterInvites-iconWrapper {
  position: relative;
  top: 50px;
  height: 18px
}

.BetterInvites-guildDescription {
  width: 400px
}

.BetterInvites-guildDescription .markup-eYLPri {
  margin: 76px 0 0 0 !important;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 18px;
  position: relative
}

.wrapper-1HIH0j .button-2b4VEQ {
  position: absolute;
  right: 0;
  top: 17px;
  width: unset !important;
  height: 32px;
  font-weight: 600;
  color: var(--interactive-normal);
  background-color: var(--background-primary) !important;
  -webkit-box-shadow: var(--elevation-stroke);
  box-shadow: var(--elevation-stroke);
  border-radius: 4px;
  opacity: 0
}

.wrapper-1HIH0j:hover .button-2b4VEQ {
  opacity: 1
}

.wrapper-1HIH0j .button-2b4VEQ:hover {
  color: var(--interactive-hover);
  filter: brightness(105%)
}

.wrapper-1HIH0j .buttonSize-3QlBTl .contents-3ca1mk {
  position: relative;
  text-overflow: unset;
  overflow: visible
}

.guildIcon-3ZfRfI::after {
  display: block;
  position: relative;
  content: "";
  z-index: -1;
  bottom: calc(87px - 26px);
  right: 16px;
  width: 328px;
  height: 87px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease-out
}

.wrapper-1HIH0j:hover .guildIcon-3ZfRfI::after {
  background-size: 101% !important
}

/* full height banner */
/* 
.guildIcon-3ZfRfI::after,.wrapper-1HIH0j .inviteSplash-2nkLRX{height:100%;-webkit-mask-image:linear-gradient(90deg,rgba(0,0,0,0.2) 0,rgba(0,0,0,1) 60%)}
.guildIcon-3ZfRfI::after,.wrapper-1HIH0j:hover .guildIcon-3ZfRfI::after{height:173px;background-size:cover!important;-webkit-transition:transform .2s ease-out;transition:transform .2s ease-out}
.wrapper-1HIH0j:hover .guildIcon-3ZfRfI::after{transform:scale(1.01) translateZ(0)!important;-webkit-transform:scale(1.01) translateZ(0)!important}
.guildIcon-3ZfRfI,.wrapper-1HIH0j:hover .guildIcon-3ZfRfI{box-shadow:none}
*/