@import url("https://maendisease.github.io/BetterDiscordStuff/css/BIRBanners.css");

/*betterInvites*/
/*background*/
.wrapper_b9fe76 {
  background: var(--background-secondary-alt);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 173px;
  max-width: 328px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_b9fe76:focus,
.wrapper_b9fe76:hover {
  background: var(--background-tertiary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high)
}

.wrapper_b9fe76 .content_b9fe76 {
  position: relative;
  min-height: 113px;
  z-index: 1
}

.wrapper_b9fe76 .header_b9fe76 {
  position: relative;
  z-index: 2
}

.wrapper_b9fe76 .inviteSplash_b9fe76 {
  position: absolute;
  border-radius: 8px 8px 0 0;
  height: 87px;
  width: 100%;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_b9fe76 .inviteSplashImage_b9fe76 {
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_b9fe76:hover .inviteSplashImage_b9fe76 {
  transform: scale(1.01) translateZ(0) !important;
  -webkit-transform: scale(1.01) translateZ(0) !important
}

.BetterInvites-guildBanner {
  max-height: 87px;
  margin: -87px 0;
  top: 43px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0 !important;
  width: 328px
}

.BetterInvites-guildBanner img {
  max-height: 87px !important;
  border-radius: 8px 8px 0 0 !important;
  -webkit-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.wrapper_b9fe76:hover .BetterInvites-guildBanner img {
  transform: scale(101%)
}

.guildIcon_b9fe76 {
  position: absolute;
  top: 17px;
  box-shadow: 0 0 0 4px var(--background-secondary-alt);
  background-color: var(--background-secondary-alt);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out
}

.wrapper_b9fe76:hover .guildIcon_b9fe76 {
  box-shadow: 0 0 0 4px var(--background-tertiary)
}

.wrapper_b9fe76 .guildInfo_b9fe76 {
  justify-content: initial;
  transform: translate(0, 35px);
  width: 0
}

.wrapper_b9fe76 .statusCounts_b9fe76 {
  font-weight: 400;
  font-size: 12px
}

.wrapper_b9fe76 .statusOffline_b9fe76 {
  background-color: var(--interactive-normal)
}

.wrapper_b9fe76 .BetterInvites-iconWrapper img {
  width: 18px;
  height: 18px !important
}

.wrapper_b9fe76 .BetterInvites-iconWrapper {
  position: relative;
  top: 50px;
  height: 18px
}

.BetterInvites-guildDescription {
  width: 400px
}

.BetterInvites-guildDescription .markup_d6076c {
  margin: 76px 0 0 0 !important;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 18px;
  position: relative
}

.wrapper_b9fe76 .button_b9fe76 {
  position: absolute;
  right: 0;
  top: 17px;
  width: unset !important;
  height: 32px;
  font-weight: 600;
  color: var(--interactive-normal);
  background-color: var(--background-primary) !important;
  -webkit-box-shadow: var(--elevation-stroke);
  box-shadow: var(--elevation-stroke);
  border-radius: 4px;
  opacity: 0
}

.wrapper_b9fe76:hover .button_b9fe76 {
  opacity: 1
}

.wrapper_b9fe76 .button_b9fe76:hover {
  color: var(--interactive-hover);
  filter: brightness(105%)
}

.wrapper_b9fe76 .buttonSize_b9fe76 .contents-3ca1mk {
  position: relative;
  text-overflow: unset;
  overflow: visible
}

.guildIcon_b9fe76::after {
  display: block;
  position: relative;
  content: "";
  z-index: -1;
  bottom: calc(87px - 26px);
  right: 16px;
  width: 328px;
  height: 87px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease-out
}

.wrapper_b9fe76:hover .guildIcon_b9fe76::after {
  background-size: 101% !important
}

/* full height banner */
/* 
.guildIcon_b9fe76::after,.wrapper_b9fe76 .inviteSplash_b9fe76{height:100%;-webkit-mask-image:linear-gradient(90deg,rgba(0,0,0,0.2) 0,rgba(0,0,0,1) 60%)}
.guildIcon_b9fe76::after,.wrapper_b9fe76:hover .guildIcon_b9fe76::after{height:173px;background-size:cover!important;-webkit-transition:transform .2s ease-out;transition:transform .2s ease-out}
.wrapper_b9fe76:hover .guildIcon_b9fe76::after{transform:scale(1.01) translateZ(0)!important;-webkit-transform:scale(1.01) translateZ(0)!important}
.guildIcon_b9fe76,.wrapper_b9fe76:hover .guildIcon_b9fe76{box-shadow:none}
*/
