.guildIcon-3ZfRfI[style*='927517029135695893'],
.guildIcon-3ZfRfI[style*='927517029135695893']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='927517029135695893']::after {
background: url(https://i.imgur.com/Ocvbo8s.png);}

.guildIcon-3ZfRfI[style*='920098544222871553'],
.guildIcon-3ZfRfI[style*='920098544222871553']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='920098544222871553']::after {
background: url(https://i.imgur.com/9f0RYzz.png);}

.guildIcon-3ZfRfI[style*='410787888507256842'],
.guildIcon-3ZfRfI[style*='410787888507256842']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='410787888507256842']::after {
background: url(https://mwittrien.github.io/BetterDiscordAddons/Library/_res/BDFDB.banner.png);}

.guildIcon-3ZfRfI[style*='894309668816560128'],
.guildIcon-3ZfRfI[style*='894309668816560128']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='894309668816560128']::after {
background: url(https://i.imgur.com/ohYh1S3.png);}

.guildIcon-3ZfRfI[style*='396807116142149636'],
.guildIcon-3ZfRfI[style*='396807116142149636']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='396807116142149636']::after {
background: url(https://i.imgur.com/ohYh1S3.png);}

.guildIcon-3ZfRfI[style*='901774051318591508'],
.guildIcon-3ZfRfI[style*='901774051318591508']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='901774051318591508']::after {
background: url(https://i.imgur.com/kubC7Ir.jpeg);}

.guildIcon-3ZfRfI[style*='280806472928198656'],
.guildIcon-3ZfRfI[style*='280806472928198656']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='280806472928198656']::after {
background: url(https://i.imgur.com/aWhYoEO.png);}

.guildIcon-3ZfRfI[style*='679501581661896774'],
.guildIcon-3ZfRfI[style*='679501581661896774']~*{margin:var(--bInvM6)!important;}
.guildIcon-3ZfRfI[style*='679501581661896774']::after {
background: url(https://i.imgur.com/Zh5iJpw.png);}
