.guildIcon_bcc098[style*='410787888507256842']::after{background:url(https://mwittrien.github.io/BetterDiscordAddons/Library/_res/BDFDB.banner.png)}
.guildIcon_bcc098[style*='935246863349735444']::after{background:url(https://i.imgur.com/nWjjk2a.jpeg)}
.guildIcon_bcc098[style*='927517029135695893']::after{background:url(https://i.imgur.com/Ocvbo8s.png)}
.guildIcon_bcc098[style*='920098544222871553']::after{background:url(https://i.imgur.com/9f0RYzz.png)}
.guildIcon_bcc098[style*='894309668816560128']::after{background:url(https://i.imgur.com/ohYh1S3.png)}
.guildIcon_bcc098[style*='396807116142149636']::after{background:url(https://i.imgur.com/ohYh1S3.png)}
.guildIcon_bcc098[style*='901774051318591508']::after{background:url(https://i.imgur.com/kubC7Ir.jpeg)}
.guildIcon_bcc098[style*='280806472928198656']::after{background:url(https://i.imgur.com/aWhYoEO.png)}
.guildIcon_bcc098[style*='679501581661896774']::after{background:url(https://i.imgur.com/Zh5iJpw.png)}