:root {
    --channelTabs-tab-height: 22px;
}
.wordmarkWindows_ffbc5e {
    display:none;
}
.titleBar__710b0 {
    position:absolute;
    top:0;
    right:0;
    width: fit-content;
    height: calc(var(--channelTabs-tab-height) + 3px);
}

.winButton_f17fb6 {
    height: 100%;
    
}
.channelTabs-tabContainer {
    padding-right: 72px;
    margin-right: calc(76px + 20px);
    -webkit-app-region: drag;
}
.channelTabs-tabContainer > * {
    -webkit-app-region: no-drag;
}

html #channelTabs-settingsMenu {
    right: 84px;
    max-height: unset;
    height: calc(var(--channelTabs-tab-height) + 3px);
    top:0;
}
