.ChannelDms-channelpopout-popout {
    color: var(--header-primary) !important;
    border-radius: 8px;
    resize: horizontal;
    overflow: hidden;
    height: fit-content !important;
    direction: rtl
}

.ChannelDms-channelpopout-popout>* {
    direction: ltr
}

.ChannelDms-channelpopout-content {
    min-height: 106px;
    height: 600px;
    max-height: 600px;
    resize: vertical;
    overflow: hidden
}

.ChannelDms-channelpopout-content>section {
    height: calc(100% - 39px) !important
}

.ChannelDms-channelpopout-popout.ChannelDms-channelpopout-collapsed {
    width: 100px !important
}

.ChannelDms-channelpopout-channelIcon,
.ChannelDms-channelpopout-headerStatus {
    margin: 0 8px !important
}

.ChannelDms-channelpopout-headerName {
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: var(--font-display)
}

/* Discord added this :D */
/* .ChannelDms-channelpopout-popout .embedWrapper_c143d9:not(.markup_a7e664, .galleryImage__0b906),
.ChannelDms-channelpopout-popout .embedWrapper_c143d9 .embedVideo__0c65b,
.ChannelDms-channelpopout-popout .wrapper__3a7a0 {
    height: auto !important;
    width: unset !important;
    max-width: max-content !important;
    max-height: 300px;
}

.ChannelDms-channelpopout-popout .embedWrapper_c143d9 .clickableWrapper__64072 img:not(.embedGalleryImageElement_e679aa),
.ChannelDms-channelpopout-popout .embedWrapper_c143d9 [data-fullscreen="false"] video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100% !important;
    max-height: 300px;
} */

.ChannelDms-channelpopout-collapseButton {
    left: 10px !important;
    top: 2px !important;
    opacity: 0
}

.ChannelDms-channelpopout-collapseButton:hover,
.ChannelDms-channelpopout-popout.ChannelDms-channelpopout-collapsed .ChannelDms-channelpopout-collapseButton {
    opacity: 1
}

.ChannelDms-channelpopout-removeButton {
    top: 0 !important;
    right: 0 !important;
    opacity: 0
}

.ChannelDms-channelpopout-popout .button__71a0f {
    border-radius: 0;
    width: 100%;
    height: 36px
}

/* username */
.ChannelDms-channelpopout-popout .cozy_f5c119 .contents_f41bb2 .header__39b23 {
    display: flex;
}

.ChannelDms-channelpopout-popout .cozy_f5c119 .headerText_f47574 {
    min-width: 0;
    white-space: nowrap;
    display:flex;
}

.ChannelDms-channelpopout-popout .cozy_f5c119 .headerText_f47574 .username_d30d99 {
    display: block;
    text-overflow: ellipsis;
    flex: 1 1;
}

.ChannelDms-channelpopout-popout .cozy_f5c119 .timestampInline__470e0 {
    white-space: nowrap;
    margin-top: 1px;
}

.ChannelDms-channelpopout-popout .cozy_f5c119 .headerText_f47574 .PI-indicatorContainer {
    margin-top: 1px;
}