.container-1NXEtd[aria-label^='Server for Disease Control ('] .button-2BMPJJ.open-3fGK6o {
    animation: headerArrow .2s ease-out
}

@keyframes headerArrow {
    from {
        transform: rotate(0)
    }

    to {
        transform: translate3d(0, -3px, 0) rotate(-90deg)
    }
}

/* favorites-banner */
#app-mount .container-1NXEtd[aria-label^='Server for Disease Control ('] .header-3OsQeK {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}

.container-1NXEtd[aria-label^='Server for Disease Control ('] .container-1-ERn5 {
    margin-bottom: 87px
}

.container-1NXEtd[aria-label^='Server for Disease Control ('] .container-1-ERn5::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), url(//i.imgur.com/jtcxsU6.png) no-repeat center/cover;
    box-shadow: var(--elevation-low)
}

/* Blacklist */
a:where(
[href="https://discord.gg/plugin"],
)::after {
    content:'css: THIS SERVER IS MALICIOUS';
    display: inline-flex;
    vertical-align: top;
    padding: 0 4px;
    margin: 1px 0 0 5px;
    font-size: .625rem;
    line-height: 15px;
    font-weight: 500;
    border-radius: 3px;
    color: #fff;
    background: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
}

a:where(
[href="https://discord.gg/plugin"],
) {
    color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%) !important;
}