.container-1NXEtd[aria-label^='Server for Disease Control ('] .button-2BMPJJ.open-3fGK6o {
    animation: headerArrow .2s ease-out
}

@keyframes headerArrow {
    from {
        transform: rotate(0)
    }

    to {
        transform: translate3d(0, -3px, 0) rotate(-90deg)
    }
}

/* favorites-banner */
#app-mount .container-1NXEtd[aria-label^='Server for Disease Control ('] .header-3OsQeK {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}

.container-1NXEtd[aria-label^='Server for Disease Control ('] .container-1-ERn5 {
    margin-bottom: 87px
}

.container-1NXEtd[aria-label^='Server for Disease Control ('] .container-1-ERn5::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), url(https://i.imgur.com/j2H4s4f.png) no-repeat center/cover;
    box-shadow: var(--elevation-low)
}