.layerContainer_cd0de5:has(.backdrop__1a911.withLayer__29ace) {
    width: fit-content;
    height: fit-content;
    left: unset;
    right: 16px;
    margin: auto 0;
}

.layer_c9e2da {
    padding: 32px;
    position: relative;
}

.layer_c9e2da.hidden_c9e2da,
.layer_c9e2da:has(+ .layer_c9e2da) {
    position: absolute;
}

/* hidden layer */
.layer_c9e2da.hidden_c9e2da {
    position: absolute;
}

/* backdrop */
.backdrop__1a911.withLayer__29ace {
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
}

/* styling */
.theme-dark .rootWithShadow_f9a4c9,
.theme-dark .backdrop__1a911.withLayer__29ace {
    -webkit-box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
}

.theme-light .rootWithShadow_f9a4c9,
.theme-light .backdrop__1a911.withLayer__29ace {
    -webkit-box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
}

.root_f9a4c9 {
    border-radius: 8px;
    max-height: 80vh;
}

/* image carousel */
.carouselModal-1eUFoq {
    width: fit-content;
    height: fit-content;
}

.wrapper_b6f1f8.modalCarouselWrapper_b586d2 {
    inset: unset;
    position: relative;
}

.arrowContainer_b65c0b {
    top: unset;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    visibility: hidden;
}

.carouselModal-1eUFoq:hover .arrowContainer_b65c0b {
    visibility: visible;
}

.navPrev_b6f1f8 {
    margin-left: 0;
}

.navNext_b6f1f8 {
    margin-right: 0;
}

/* usermodal */
.userProfileModalInner_c69a7b,
/* expanded text file */
.modalContent_ad9cbd,
/* auth modal */
.authorize_c5a065 {
    max-height: 80vh;
}
