.layerContainer_a2fcaa:has(.backdrop__1a911.withLayer__29ace) {
    width: fit-content;
    height: fit-content;
    left: unset;
    right: 16px;
    margin: auto 0;
}

.layer_c14d31 {
    padding: 32px;
    position: relative;
}

.layer_c14d31.hidden__81460,
.layer_c14d31:has(+ .layer_c14d31) {
    position: absolute;
}

/* hidden layer */
.layer_c14d31.hidden__81460 {
    position: absolute;
}

/* backdrop */
.backdrop__1a911.withLayer__29ace {
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
}

/* styling */
.theme-dark .rootWithShadow_d20cd6,
.theme-dark .backdrop__1a911.withLayer__29ace {
    -webkit-box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
}

.theme-light .rootWithShadow_d20cd6,
.theme-light .backdrop__1a911.withLayer__29ace {
    -webkit-box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
}

.root_a28985 {
    border-radius: 8px;
    max-height: 80vh;
}

/* image carousel */
.carouselModal-1eUFoq {
    width: fit-content;
    height: fit-content;
}

.wrapper_b9936d.modalCarouselWrapper__1858d {
    inset: unset;
    position: relative;
}

.arrowContainer_eb1184 {
    top: unset;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    visibility: hidden;
}

.carouselModal-1eUFoq:hover .arrowContainer_eb1184 {
    visibility: visible;
}

.navPrev__0cddd {
    margin-left: 0;
}

.navNext_c164a7 {
    margin-right: 0;
}

/* usermodal */
.userProfileModalInner__84e47,
/* expanded text file */
.modalContent__04da4,
/* auth modal */
.authorize__9e6f3 {
    max-height: 80vh;
}
