.layerContainer-2lfOPe:has(.backdrop-2ByYRN.withLayer-2VVmpp) {
    width: fit-content;
    height: fit-content;
    left: unset;
    right: 16px;
    margin: auto 0;
}

.layer-fP3xEz {
    padding: 32px;
    position: relative;
}

.layer-fP3xEz.hidden-cYOXde,
.layer-fP3xEz:has(+ .layer-fP3xEz) {
    position: absolute;
}

/* hidden layer */
.layer-fP3xEz.hidden-cYOXde {
    position: absolute;
}

/* backdrop */
.backdrop-2ByYRN.withLayer-2VVmpp {
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
}

/* styling */
.theme-dark .rootWithShadow-2hdL2J,
.theme-dark .backdrop-2ByYRN.withLayer-2VVmpp {
    -webkit-box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
}

.theme-light .rootWithShadow-2hdL2J,
.theme-light .backdrop-2ByYRN.withLayer-2VVmpp {
    -webkit-box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
}

.root-1CAIjD {
    border-radius: 8px;
    max-height: 80vh;
}

/* image carousel */
.carouselModal-1eUFoq {
    width: fit-content;
    height: fit-content;
}

.wrapper-3AqFd3.modalCarouselWrapper-YK1MX4 {
    inset: unset;
    position: relative;
}

.arrowContainer-2wpC4q {
    top: unset;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    visibility: hidden;
}

.carouselModal-1eUFoq:hover .arrowContainer-2wpC4q {
    visibility: visible;
}

.navPrev-3Oe07S {
    margin-left: 0;
}

.navNext-2Fgwwk {
    margin-right: 0;
}

/* usermodal */
.userProfileModalInner-3dx9L9,
/* expanded text file */
.modalContent-1zPatc,
/* auth modal */
.authorize-2xTTr- {
    max-height: 80vh;
}