.layerContainer_d5a653:has(.backdrop__7e89b.withLayer__1fe9d) {
    width: fit-content;
    height: fit-content;
    left: unset;
    right: 16px;
    margin: auto 0;
}

.layer_ad604d {
    padding: 32px;
    position: relative;
}

.layer_ad604d.hidden__81460,
.layer_ad604d:has(+ .layer_ad604d) {
    position: absolute;
}

/* hidden layer */
.layer_ad604d.hidden__81460 {
    position: absolute;
}

/* backdrop */
.backdrop__7e89b.withLayer__1fe9d {
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
}

/* styling */
.theme-dark .rootWithShadow__073a7,
.theme-dark .backdrop__7e89b.withLayer__1fe9d {
    -webkit-box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
}

.theme-light .rootWithShadow__073a7,
.theme-light .backdrop__7e89b.withLayer__1fe9d {
    -webkit-box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
}

.root_a28985 {
    border-radius: 8px;
    max-height: 80vh;
}

/* image carousel */
.carouselModal-1eUFoq {
    width: fit-content;
    height: fit-content;
}

.wrapper__76d8d.modalCarouselWrapper__3b183 {
    inset: unset;
    position: relative;
}

.arrowContainer__94160 {
    top: unset;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    visibility: hidden;
}

.carouselModal-1eUFoq:hover .arrowContainer__94160 {
    visibility: visible;
}

.navPrev_d8d242 {
    margin-left: 0;
}

.navNext_ec1363 {
    margin-right: 0;
}

/* usermodal */
.userProfileModalInner__7c87d,
/* expanded text file */
.modalContent_fa151c,
/* auth modal */
.authorize__4ddfc {
    max-height: 80vh;
}