:root {
    /* from 0.0 to 1.0 */
    --guildlist-show: 0;
    /* How much of the guild list appears unhovered */
    --guildlist-peek-unread: 1;
    --guildlist-peek-ping: 1;
    --guildlist-peek-selected: 1;
    --guildlist-peek-group-unread: 1;
}

.guilds-2JjMmN .tree-3agP2X {
    -webkit-app-region: no-drag;
}

.guilds-2JjMmN .scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt>div {
    transform: translateX(calc(-72px*calc(1 - var(--guildlist-show)))) !important;
    transition: transform .25s ease
}

.guilds-2JjMmN .tree-3agP2X:hover .scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt>div {
    transform: translateX(0) !important
}

.tree-3agP2X:hover .tutorialContainer-1pL9QS .pill-L_aLMQ.wrapper-z5ab_q.bd-selected,
.tree-3agP2X:hover .tutorialContainer-1pL9QS .pill-L_aLMQ.wrapper-z5ab_q.bd-selected+div,
.tree-3agP2X:hover .tutorialContainer-1pL9QS + .listItem-3SmSlK:not([aria-label=""]) .pill-1eBbnB.wrapper-z5ab_q.bd-selected,
.tree-3agP2X:hover .tutorialContainer-1pL9QS + .listItem-3SmSlK:not([aria-label=""]) .pill-1eBbnB.wrapper-z5ab_q.bd-selected+div,
.tree-3agP2X:hover .scroller-3X7KbA>div[style^=opacity]>.listItem-3SmSlK,
.tree-3agP2X:hover .bd-selected,
.tree-3agP2X:hover .bd-selected+div,
#app-mount .tree-3agP2X:hover .bd-unread,
#app-mount .tree-3agP2X:hover .bd-unread+div {
    transform: translateX(0)
}

.bd-guild.bd-unread:not(.bd-badge) {
    transform: translateX(calc((72px*var(--guildlist-peek-unread))*(1 - var(--guildlist-show))));
    transition: transform .25s ease
}

.pill-1eBbnB.wrapper-z5ab_q.bd-unread,
.pill-1eBbnB.wrapper-z5ab_q.bd-unread+div,
.scroller-3X7KbA>div[style^=opacity]>.listItem-3SmSlK,
.bd-guild.bd-unread.bd-badge {
    transform: translateX(calc((72px*var(--guildlist-peek-ping))*(1 - var(--guildlist-show))));
    transition: transform .25s ease
}

.tutorialContainer-1pL9QS .pill-L_aLMQ.wrapper-z5ab_q.bd-selected,
.tutorialContainer-1pL9QS .pill-L_aLMQ.wrapper-z5ab_q.bd-selected+div,
.tutorialContainer-1pL9QS + .listItem-3SmSlK:not([aria-label=""]) .pill-1eBbnB.wrapper-z5ab_q.bd-selected,
.tutorialContainer-1pL9QS + .listItem-3SmSlK:not([aria-label=""]) .pill-1eBbnB.wrapper-z5ab_q.bd-selected+div,
.bd-guild.bd-selected {
    transform: translateX(calc((72px*var(--guildlist-peek-selected))*(1 - var(--guildlist-show))));
    transition: transform .25s ease
}

.expandedFolderBackground-1kSAf6.collapsed-uGXEbi+.listItem-3SmSlK>.bd-unread,
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi+.listItem-3SmSlK>.bd-unread+div {
    transform: translateX(calc((72px*var(--guildlist-peek-group-unread))*(1 - var(--guildlist-show))));
    transition: transform .25s ease
}