#app-mount .container-3wLKDe,
#app-mount .background_c54132 {
    background-color: var(--background-primary);
}

/* Card */
.mainCard__0ec2c,
.card_d4f6c7,
.container__29699,
.container_c68a2c {
    background-color: var(--background-secondary);
    border-radius: 8px;
}

.icon_ac2d0d {
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
}

.container-3wLKDe {
    border: none;
}

.container-3wLKDe:hover {
    background-color: var(--background-modifier-hover);
}

.mainCard__0ec2c h3 {
    font-family: var(--font-display);
    font-size: 16px;
    line-height: 20px;
}

/* Form */

.mainCard__0ec2c.header-1Uy0p6:hover {
    border-color: transparent;
}

.mainCard__0ec2c form textarea,
.mainCard__0ec2c form textarea::placeholder {
    font-size: 16px;
    line-height: 26px;
}

.mainCard__0ec2c .pill_f055c3 {
    background-color: var(--background-tertiary);
}

.mainCard__0ec2c .dots__44c48 {
    border-color: var(--background-secondary);
}

/* Sidebar */
.container__694a1 .container__38f29 h3 {
    font-family: var(--font-display);
    font-size: 28px;
    line-height: 32px;
}

.container__694a1 .container__38f29 .iconWrapper_a8f659 {
    margin-top: 0;
}
