#app-mount .container-3wLKDe,
#app-mount .background_c54132 {
    background-color: var(--background-primary);
}

/* Card */
.mainCard_a6d69a,
.card_d4f6c7,
.container__29699,
.container_c68a2c {
    background-color: var(--background-secondary);
    border-radius: 8px;
}

.icon_ac2d0d {
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
}

.container-3wLKDe {
    border: none;
}

.container-3wLKDe:hover {
    background-color: var(--background-modifier-hover);
}

.mainCard_a6d69a h3 {
    font-family: var(--font-display);
    font-size: 16px;
    line-height: 20px;
}

/* Form */

.mainCard_a6d69a.header-1Uy0p6:hover {
    border-color: transparent;
}

.mainCard_a6d69a form textarea,
.mainCard_a6d69a form textarea::placeholder {
    font-size: 16px;
    line-height: 26px;
}

.mainCard_a6d69a .pill_c993da {
    background-color: var(--background-tertiary);
}

.mainCard_a6d69a .dots_d331f1 {
    border-color: var(--background-secondary);
}

/* Sidebar */
.container_d1c246 .container_e378b3 h3 {
    font-family: var(--font-display);
    font-size: 28px;
    line-height: 32px;
}

.container_d1c246 .container_e378b3 .iconWrapper_e378b3 {
    margin-top: 0;
}
