#app-mount .container-3wLKDe,
#app-mount .background-fkKrXt {
    background-color: var(--background-primary);
}

/* Card */
.mainCard-3KBsBI,
.card-3x20HF,
.container-xwOzwi,
.container-2Hi7Km {
    background-color: var(--background-secondary);
    border-radius: 8px;
}

.icon-2IDTxf {
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
}

.container-3wLKDe {
    border: none;
}

.container-3wLKDe:hover {
    background-color: var(--background-modifier-hover);
}

.mainCard-3KBsBI h3 {
    font-family: var(--font-display);
    font-size: 16px;
    line-height: 20px;
}

/* Form */

.mainCard-3KBsBI.header-1Uy0p6:hover {
    border-color: transparent;
}

.mainCard-3KBsBI form textarea,
.mainCard-3KBsBI form textarea::placeholder {
    font-size: 16px;
    line-height: 26px;
}

.mainCard-3KBsBI .pill-3pRQlO {
    background-color: var(--background-tertiary);
}

.mainCard-3KBsBI .dots-3b0kDm {
    border-color: var(--background-secondary);
}

/* Sidebar */
.container-3XgAHv .container-27JV1h h3 {
    font-family: var(--font-display);
    font-size: 28px;
    line-height: 32px;
}

.container-3XgAHv .container-27JV1h .iconWrapper-3FqQ75 {
    margin-top: 0;
}