#app-mount .container-3wLKDe,
#app-mount .background_e80d5a {
    background-color: var(--background-primary);
}

/* Card */
.mainCard__8a660,
.card_d4f6c7,
.container_acafc1,
.container__92dc8 {
    background-color: var(--background-secondary);
    border-radius: 8px;
}

.icon_f71c55 {
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
}

.container-3wLKDe {
    border: none;
}

.container-3wLKDe:hover {
    background-color: var(--background-modifier-hover);
}

.mainCard__8a660 h3 {
    font-family: var(--font-display);
    font-size: 16px;
    line-height: 20px;
}

/* Form */

.mainCard__8a660.header-1Uy0p6:hover {
    border-color: transparent;
}

.mainCard__8a660 form textarea,
.mainCard__8a660 form textarea::placeholder {
    font-size: 16px;
    line-height: 26px;
}

.mainCard__8a660 .pill_f055c3 {
    background-color: var(--background-tertiary);
}

.mainCard__8a660 .dots__44c48 {
    border-color: var(--background-secondary);
}

/* Sidebar */
.container_def45c .container__404b9 h3 {
    font-family: var(--font-display);
    font-size: 28px;
    line-height: 32px;
}

.container_def45c .container__404b9 .iconWrapper__3e4a9 {
    margin-top: 0;
}