.profileColors-3Y0XaR {
    position: relative;
}

.overlayBackground-1KgwVi {
    margin: 28px 8px 8px;
}

.theme-dark .profileColors-3Y0XaR {
    --profile-body-background-color: rgba(0, 0, 0, 0.45);
}

.theme-light .profileColors-3Y0XaR {
    --profile-body-background-color: rgba(255, 255, 255, 0.45);
}

/* Avatar */
.userProfileInnerNonPremium-1XjSjn .avatarWrapperNormal-1tQ3Je {
    background-color: var(--profile-body-background-color);
    box-shadow: var(--elevation-medium);
}

.userProfileInnerNonPremium-1XjSjn .avatarHoverTarget-l77PhT,
.userProfileInnerNonPremium-1XjSjn .avatarHint-2g3Mcd {
    padding: 6px;
}

.avatarWrapper-3y0KZ1 circle {
    fill: var(--profile-avatar-border-color);
}

.avatarWrapper-3y0KZ1 rect[style] {
    opacity: 1;
    fill: var(--profile-gradient-primary-color);
}

/* Banner */
.userProfileInnerNonPremium-1XjSjn .bannerSVGWrapper-qc0szY {
    height: 100%;
    position: absolute;
    z-index: 0;
}

.userProfileInnerNonPremium-1XjSjn .bannerSVGWrapper-qc0szY foreignObject {
    mask: none;
    transform: translateY(-120px)
}

.userProfileInnerNonPremium-1XjSjn .popoutBanner-16rVDY {
    height: 100vh;
}

/* Body */
.userProfileInnerNonPremium-1XjSjn .overlayBackground-1KgwVi {
    margin-top: calc(28px + 60px);
}

.userPopoutInner-1hXSeY:not(.userPopoutInnerWithoutTheme-3IBtvN.userPopoutInnerWithBanner-1jusp9) .overlayBackground-1KgwVi {
    box-shadow: var(--elevation-medium);
}

/* Badges */
.userProfileInnerNonPremium-1XjSjn .profileBadges-31rDHI {
    top: calc(12px + 60px);
}

.profileBadges-31rDHI:not(.containerWithContent-2_V0PM) {
    padding-top: 4px;
    padding-bottom: 4px;
}

.userPopoutInner-1hXSeY .profileBadges-31rDHI {
    box-shadow: var(--elevation-medium);
}

.profileColors-3Y0XaR .messageInputContainer-2rGDH8 {
    border: none;
}