.theme-dark .userProfileInner__8ff35,
.theme-dark .accountProfileCard__744d8 {
  --profile-body-background-color: rgba(0, 0, 0, 0.45);
}

.theme-light .userProfileInner__8ff35,
.theme-light .accountProfileCard__744d8 {
  --profile-body-background-color: rgba(255, 255, 255, 0.65);
}

.bannerSVGWrapper__8a38c:not(:has([style*=image])) {
  overflow: visible;
  contain: none;
}
.bannerSVGWrapper__8a38c:not(:has([style*=image])) foreignObject {
  -webkit-mask: none;
          mask: none;
}
.bannerSVGWrapper__8a38c:not(:has([style*=image])) [style*=background-color] {
  height: 100vh;
}

.userProfileInner__8ff35:not(:has(svg div[style*=image])) .avatarWrapper__0cd44 {
  background: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
}
.userProfileInner__8ff35:not(:has(svg div[style*=image])) .avatarHoverTarget__9b4a9,
.userProfileInner__8ff35:not(:has(svg div[style*=image])) .avatarHint__15059 {
  padding: 6px;
}
.userProfileInner__8ff35:not(:has(svg div[style*=image])) .avatar__445f3 {
  background: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
  padding: 6px;
}
.userProfileInner__8ff35 .profileBadges__1f2ab:not(.containerWithContent_a67357) {
  padding-top: 4px;
  padding-bottom: 4px;
}
.userProfileInner__8ff35 .messageInputContainer_a93946 {
  border: none;
}

.containerWithContent_a67357 {
  box-shadow: var(--elevation-medium);
  z-index: 1;
}

.overlayBackground__345c9 {
  margin: 28px 8px 8px;
  box-shadow: var(--elevation-medium);
  z-index: 1;
}

.userProfileInner__8ff35 .wrapper__3ed10 circle,
.userProfileInner__8ff35 .wrapper__3ed10 rect[style] {
  fill: none;
}

.accountProfileCard__744d8:not(:has(div[style*=image])) {
  background: none;
  box-shadow: var(--elevation-medium);
}
.accountProfileCard__744d8:not(:has(div[style*=image])) .avatar__6c108 {
  top: 16px;
  left: 16px;
  padding: 6px;
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
}
.accountProfileCard__744d8 .bannerSVGWrapper__8a38c {
    position: absolute;
    min-width: unset !important;
    width: 100%;
}
.accountProfileCard__744d8 .userInfo_fb7651 {
  height: 116px;
  align-items: flex-end;
  position: relative;
}
.accountProfileCard__744d8:has(div[style*=image]) .userInfo_fb7651 {
  margin-top: 60px;
}
.accountProfileCard__744d8:has(div[style*=image]) .avatar__6c108 {
  top: 22px;
}
.accountProfileCard__744d8:has(div[style*=image]) .userInfo_fb7651 > button {
  align-self: center;
}
.accountProfileCard__744d8 .profileCardUsernameRow_f8853e,
.accountProfileCard__744d8 .containerWithContent_a67357 {
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
}
.accountProfileCard__744d8 .userTag__28f9c {
  margin-bottom: 0;
  padding-left: 4px;
}
.accountProfileCard__744d8 .profileCardUsernameRow_f8853e .overflowMenuButton__38716 {
  height: 24px;
}
.accountProfileCard__744d8 .containerWithContent_a67357 {
  margin-top: 4px;
}
.accountProfileCard__744d8 .background__4e802 {
  box-shadow: var(--elevation-medium);
  position: relative;
  background-color: var(--profile-body-background-color);
}
.accountProfileCard__744d8 .fieldList__4e6dd {
  background: none;
}
