@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

:root {
    --settingsidebar-border-radius: 0 8px 0 0;
}

.layer__2efaa ~.layer__2efaa ,
.layer__2efaa :has(~.layer__2efaa ) {
    --settingsidebar-width: 280px;
}

/* channelTextArea */
.layer__2efaa .stop-animations .channelTextArea__2e60f:not(.channelTextAreaDisabled_c43b1c) .scrollableContainer__33e06 {
    opacity: 0.5;
    cursor: not-allowed;
}

.layer__2efaa .stop-animations .channelTextArea__2e60f:not(.channelTextAreaDisabled_c43b1c) .attachWrapper__6354f,
.layer__2efaa .stop-animations .channelTextArea__2e60f:not(.channelTextAreaDisabled_c43b1c) .buttons_ce5b56 {
    display: none;
}

/* base */
#app-mount .baseLayer__8fda3 {
    opacity: 1 !important;
    transform: unset !important;
    will-change: unset !important;
}

#app-mount .stop-animations * {
    transition-property: inherit !important;
    animation: inherit !important;
}

.layers__1c917>.layer__2efaa .animating__27211 *,
.layers__1c917>.layer__2efaa .animating__27211 {
    pointer-events: auto !important;
    will-change: unset;
}

.layer__2efaa .stop-animations {
    margin-left: var(--settingsidebar-width);
}

.layer__2efaa ~.layer__2efaa  {
    background: none;
    width: var(--settingsidebar-width);
}

.platform-win .standardSidebarView__1129a {
    background: none;
    overflow: hidden;
    border-radius: var(--settingsidebar-border-radius);
}

.sidebarRegion__60457:hover ~ .contentRegion__0bec1 {
    display: none;
}

/* sidebar */
.sidebarRegion__60457 {
    position: absolute;
    height: 48px;
    z-index: 11;
    width: var(--settingsidebar-width);
    pointer-events: none;
}

.sidebarRegion__60457:hover,
:has(.toolsContainer_f5d55d + div:active) .sidebarRegion__60457 {
    height: 100%;
    pointer-events: all;
}

.toolsContainer_f5d55d + div {
    width: var(--settingsidebar-width);
    height: 48px !important;
    top: -48px;
    left: 0;
    z-index: 9999;
    pointer-events: all !important;
    cursor: pointer;
}

.toolsContainer_f5d55d + div:active {
    display: none;
}

.sidebarRegion__60457:has(.selected__5711d:focus-within) {
    display: none;
}

.sidebar__9e3e2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: calc(20px - 8px);
}

.sidebarRegion__60457:not(:hover) .sidebar__9e3e2 {
    padding-top: 0;
    padding-bottom: 0;
}

.sidebarRegion__60457>.sidebarRegionScroller__1fa7e {
    max-width: 100%;
}

.sidebarRegionScroller__1fa7e:not(:hover) .item__48dda.selected__5711d {
    margin-top: 8px;
}

#app-mount .sidebarRegionScroller__1fa7e:not(:hover) .side_b4b3f6>div:not(.item__48dda.selected__5711d) {
    display: none;
}

/* contentregion */
.contentRegion__0bec1 {
    margin-top: 48px;
}

.contentColumn_dc7d36,
.customColumn_e22a6e {
    min-width: unset;
    width: 0;
}

.contentColumnDefault_c66386 {
    padding-top: 20px;
    padding-right: calc(20px - 8px);
    padding-left: 20px;
}

.toolsContainer_f5d55d {
    position: absolute;
    padding-top: 8px;
    right: -37px;
    /* top: -44px; */
    z-index: 999;
}

.closeButton__34341+.keybind__57645 {
    display: none;
}

.closeButton__34341:hover+.keybind__57645 {
    display: block;
}

/* scrollbar */
.scroller__79060::-webkit-scrollbar-track,
.scroller__4a41d::-webkit-scrollbar-track,
.contentRegionScroller__86c79::-webkit-scrollbar-track {
    display: none;
}

.scroller__79060::-webkit-scrollbar-thumb,
.scroller__4a41d::-webkit-scrollbar-thumb,
.contentRegionScroller__86c79::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.scroller__79060:hover::-webkit-scrollbar-thumb,
.scroller__4a41d:hover::-webkit-scrollbar-thumb,
.contentRegionScroller__86c79:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scroller__79060::-webkit-scrollbar,
.scroller__4a41d::-webkit-scrollbar,
.contentRegionScroller__86c79::-webkit-scrollbar {
    width: 8px;
}

.scroller__79060::-webkit-scrollbar-thumb,
.scroller__4a41d::-webkit-scrollbar-thumb,
.contentRegionScroller__86c79::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
}

/* responsive elements */
.userInfo__8f826 {
    flex-wrap: wrap;
}

.userInfo__8f826 {
    min-height: 72;
    height: unset;
}

.buttonContainer__0dac8 {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer__0dac8>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.accountProfileCard__22589 .fieldButtonList__7db82 {
    flex-direction: column;
}

#my-account-tab .flexChild__6e093:not(img) {
    width: 100%;
}

.profileCustomizationSection-2OOT4p .baseLayout-8AMrwn {
    flex-wrap: wrap;
}

.profileCustomizationSection-2OOT4p .preview-Z55SA3 {
    margin-top: 20px;
    margin-left: 0;
}

#streamer-mode-tab .formNotice-2nS8ey .flex_f5fbb7 {
    flex-direction: column;
}

.marketingRefreshSectionTier1-1chtWC {
    flex-wrap: wrap;
}

.contentRegion__0bec1 .flex_f5fbb7.horizontal__992f6:not(.layout__88e96, .iconWrapper__8fbb1, .headerInfo__2d6b1) {
    grid-template-columns: repeat(auto-fill, 100%);
    display: grid;
}

.horizontal__992f6>.flex_f5fbb7,
.horizontal__992f6:not(.headerInfo__2d6b1)>.flexChild__6e093 {
    margin-left: 0;
    margin-right: 0;
}

.horizontal__992f6>.flex_f5fbb7:not(:first-child),
.horizontal__992f6:not(.headerInfo__2d6b1)>.flexChild__6e093:not(:first-child) {
    margin-top: 8px;
}

.features_c2c4bf {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

#nitro-server-boost-tab .guilds__66a9b {
    grid-template-columns: repeat(auto-fill, 100%);
}

.tiersList__351b2 {
    flex-wrap: wrap;
}

.tiersList__351b2 .tierVertical__21cea+.tierVertical__21cea {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
}

.tiersList__351b2 .wrapper_a24459 {
    padding: 8px 16px;
}

#profile-customization-tab .baseLayoutProfileThemes-1Jj-oN {
    flex-wrap: wrap;
}

#profile-customization-tab .page-nvZ_ef {
    margin-left: 8px;
    margin-right: 8px;
}

.profileCustomizationPreview-2-Y173 {
    width: calc(var(--settingsidebar-width) - 20px);
}

/* guild settings */
.progressBarImage__1bc20 {
    width: 100%;
    height: auto;
}

.customScroller_f72801>div {
    margin-left: 0;
    padding-left: 20px;
    min-width: 100%;
}

.roleNameSpacing_f1b23e {
    -ms-flex: 0 0 105px;
    flex: 0 0 105px;
}

.memberSpacing_f6f902 {
    -ms-flex: 0 0 0;
    flex: 0;
    margin-left: 0;
}

.searchContainer_bdd25a {
    flex-wrap: wrap;
}

/* role sidebar */
#roles-tab .sidebar_bdf6b7 {
    position: absolute;
    height: 48px;
    width: 100%;
    flex-basis: 100% !important;
    z-index: 11;
    overflow: hidden;
    border-right: none;
}

#roles-tab .sidebar_bdf6b7:hover {
    height: 100%;
}

#roles-tab .sidebar_bdf6b7:hover+.contentContainer__23092 {
    visibility: hidden;
}

.contentContainer__23092 {
    left: 0;
}

#roles-tab .sidebar_bdf6b7:not(:hover) .titleContainer_e558ff,
#roles-tab .sidebar_bdf6b7:not(:hover) .row__5f051.item__48dda:not(.selected__5711d),
#roles-tab .sidebar_bdf6b7:not(:hover) .list__41249::-webkit-scrollbar-thumb {
    display: none;
}

#roles-tab .page__9db5c {
    min-width: unset;
}

#roles-tab .titleContainer_e558ff {
    width: calc(100% - 32px);
    padding: 20px;
    margin: 0;
}

#roles-tab .list__41249 {
    padding-left: calc(20px + 6px);
}

#roles-tab .sidebar_bdf6b7:not(:hover) .list__41249 .side_b4b3f6 {
    margin-top: 8px;
    margin-right: 40px;
}

#roles-tab .contentWidth_b55791 {
    width: 100%;
    min-width: unset;
    padding-left: 20px;
    padding-right: calc(20px - 8px);
}

#roles-tab .permissionsWrapper_bfb3d4 .clearButtonWrapper__72a1c {
    position: relative;
}

.infoWrapper__2db8b {
    flex-wrap: wrap;
}

.infoItem__190eb {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

img.infoItem__190eb {
    width: 100%;
}

.descriptionBox_cca0c3 {
    flex-wrap: wrap;
}

.features__9f042 {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

.tiers__13b89 {
    margin-left: 38px;
    width: calc(100% - 38px);
}

.perks__9383e {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.avatar-rUnPfv {
    flex-shrink: 0;
}

.member-2cj2PI {
    width: 100%;
}

.member-2cj2PI .nameTag-1UsB6_ {
    min-width: 100px;
}

.revokeInvite__2d441 {
    right: 2px;
}

.permission_b5be39 {
    -webkit-box-align: start;
    align-items: start;
    height: fit-content;
}

.permissionCheckmark__27f79 {
    flex-shrink: 0;
}

/* Automod */
#guild_automod-tab .descriptionContainer__8ad2e {
    flex-wrap: wrap;
    justify-content: center;
}

#guild_automod-tab .mainContainer_e09640 {
    display: grid;
    row-gap: 10px;
}

#guild_automod-tab .ruleTextContainer_ab0026 {
    margin-right: 0;
}

.saveNoticeContainer_b3fdf2 {
    width: 100%;
}

#app-mount .saveNoticeContainer_b3fdf2 {
    border-radius: unset;
    background-color: unset;
    border: unset;
    padding: unset;
    margin: unset;
}

.noticeRegion__2779f {
    width: 100%;
}

.saveNoticeContainer_b3fdf2 .message__13e98,
.noticeRegion__2779f .message__13e98 {
    white-space: normal;
}

.saveNoticeContainer_b3fdf2 .flexContainer_cf6612,
.noticeRegion__2779f .flexContainer_cf6612 {
    display: grid;
}

#guild_automod-tab .triggerContainer__72e17 {
    display: grid;
}

#guild_automod-tab .cardContentsContainer__6d2b5 {
    margin-left: 8px;
    margin-right: 8px;
}

#guild_automod-tab .mentionLimitContainer__0f0ff {
    display: grid;
    row-gap: 10px;
}

/* plugin repo */
.repoList-9JnAPs .repoHeader-2KfNvH {
    padding-top: 20px;
    padding-right: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH>* {
    min-width: unset;
    padding-left: 20px;
    padding-right: 20px;
}

.repoList-9JnAPs .contentColumn_dc7d36 {
    padding-top: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBar-2hXqzU {
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--settingsidebar-width);
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBarItem_b56b35 {
    margin: 0 2px;
}

.repoList-9JnAPs.contentRegion__0bec1 .flex_f5fbb7.tabBarContainer-sCZC4w {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.repoList-9JnAPs.contentRegion__0bec1 .flex_f5fbb7.quickSelect_ae48d2 {
    display: flex;
    align-items: center;
}

.repoList-9JnAPs.contentRegion__0bec1 .flex_f5fbb7.quickSelectClick_bf1d31 {
    display: flex;
    margin-top: 0;
}

.repoList-9JnAPs .toolsContainer_f5d55d {
    margin-top: -177px;
}

#pluginrepo-tab .settingsRow-o9Ft44 .textScroller-dc9_kz div {
    white-space: normal !important;
}

#pluginrepo-tab .settingsRow-o9Ft44 .flexChild__6e093 {
    width: auto;
}

/* Sessions */
.sessions__3ce76 .sessionMoreButton__055f9 {
    position: absolute;
    top: 12px;
    right: 0;
    display: none;
}

.sessions__3ce76 .session_f56359:hover .sessionMoreButton__055f9 {
    display: block;
}

.sessions__3ce76 .session_f56359 {
    position: relative;
}

.sessions__3ce76 .session_f56359 {
    gap: 12px;
}

.sessions__3ce76 .sessionInfo__9bc47 {
    gap: 0;
}

.sessions__3ce76 .eyebrow_e5a66c.sessionInfoRow_f3c7fd {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions__3ce76 .text-sm-medium_bc6ffc.sessionInfoRow_f3c7fd {
    color: var(--channels-default);
}

.sessions__3ce76 .sessionIcon__540be {
    background: none;
    color: var(--interactive-normal);
}

.sessions__3ce76 .session_f56359.currentSession__5f5fd .sessionIcon__540be {
    color: var(--status-positive);
}

.children_b15c64>.session_f56359:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/* Nitro */
#discord-nitro-tab {
    margin-top: 24px;
}

#discord-nitro-tab .premiumCards__1b3a9 {
    display: grid;
}

.premiumCards__1b3a9 .card__48184,
.settingsContainer-36qZZ9.settingsHero-2Me_mE {
    width: 100%;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .settingsTextContainer-3grHhq {
    width: 100%;
    padding: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .buttonContainer-2sL6rz {
    display: grid;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .display-md-3I4dlu {
    font-size: 24px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .description-2_tPhd {
    margin-top: 8px;
    margin-bottom: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .sparkleStar-J6zUP3 {
    display: none;
}

#discord-nitro-tab .imageWrapper_fd6587 {
    box-shadow: none;
}

.premiumCards__1b3a9 .marginTopForButtons-3u_La7 {
    margin-top: 24px;
}

#discord-nitro-tab .bigPerkCardContainer-100zsH,
#discord-nitro-tab .smallPerkCardContainer-X9-c92 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

#discord-nitro-tab .bigPerkCard-1uwmWV {
    background-color: var(--background-secondary-alt);
    padding: 24px;
}

#discord-nitro-tab .smallPerkCard-2sX_-- {
    padding: 24px;
}

.planComparisonTableContainer-2toIGM .cell-RLL0Ge,
.planComparisonTableContainer-2toIGM .headerCell-3mJ5RH {
    width: 100px;
}

.planComparisonTableContainer-2toIGM .headerRow-_Ed0yk .headerCell-3mJ5RH {
    justify-content: center;
}

.planComparisonTableContainer-2toIGM .row-32xD2c {
    height: auto;
}

.planComparisonTableContainer-2toIGM .logo-35nkkB {
    width: 70%;
}

.planComparisonTableContainer-2toIGM .headerLabelCell-eG_2hU .heading-lg-bold-3uwrwG {
    font-size: 16px;
    line-height: 20px;
}

.planComparisonTableContainer-2toIGM .button-kcar9o {
    width: calc(100% - 16px);
    height: 40px;
}

.planComparisonTableContainer-2toIGM .tier2ColumnOuter-1U2eKO {
    width: 37%;
}

#discord-nitro-tab .footer-j5ehCa {
    margin-top: 24px;
    margin-bottom: 24px;
}

#discord-nitro-tab .buttonContainer-tkKXTP {
    gap: 16px;
    display: grid;
}

/* BD */
.bd-addon-list-title {
    flex-wrap: wrap;
}

.bd-addon-list-filters {
    flex-wrap: wrap;
    gap: 6px 10px;
    margin-top: 6px;
}

.bd-addon-list-filters .bd-select-wrapper+.bd-select-wrapper {
    margin-left: 0;
}

.bd-addon-list-controls {
    flex-wrap: wrap;
}

.bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}