@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

:root {
    --settingsidebar-width: 280px;
    --settingsidebar-border-top-right-radius: 8px;
}

/* base */
.platform-win .standardSidebarView-E9Pc3j {
    background: none;
    border-top-right-radius: var(--settingsidebar-border-top-right-radius);
    overflow: hidden;
}

.layer-86YKbF.baseLayer-W6S8cY.stop-animations~.layer-86YKbF {
    background: none;
}

.layer-86YKbF.baseLayer-W6S8cY~.layer-86YKbF {
    width: var(--settingsidebar-width);
}

.layer-86YKbF.baseLayer-W6S8cY.stop-animations {
    margin-left: var(--settingsidebar-width);
}

#app-mount .baseLayer-W6S8cY {
    opacity: 1 !important;
    transform: unset !important;
    will-change: unset !important;
}

#app-mount .stop-animations * {
    transition-property: inherit !important;
    animation: inherit !important;
}

.layers-OrUESM>.layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV {
    pointer-events: auto !important;
    will-change: unset;
}

.sidebarRegion-1VBisG:hover ~ .contentRegion-3HkfJJ {
    display: none;
}

/* channelTextArea */
.layer-86YKbF.stop-animations .channelTextArea-1FufC0:not(.channelTextAreaDisabled-1p2fQv) .scrollableContainer-15eg7h {
    opacity: 0.5;
    cursor: not-allowed;
}

.layer-86YKbF.stop-animations .channelTextArea-1FufC0:not(.channelTextAreaDisabled-1p2fQv) .attachWrapper-3slhXI,
.layer-86YKbF.stop-animations .channelTextArea-1FufC0:not(.channelTextAreaDisabled-1p2fQv) .buttons-uaqb-5 {
    display: none;
}

/* sidebar */
.sidebarRegion-1VBisG {
    position: absolute;
    height: 48px;
    z-index: 10;
    width: var(--settingsidebar-width);
}

.sidebarRegion-1VBisG:hover {
    height: 100%;
}

.sidebar-nqHbhN {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: calc(20px - 8px);
}

.sidebarRegion-1VBisG:not(:hover) .sidebar-nqHbhN {
    padding-top: 0;
    padding-bottom: 0;
}

.sidebarRegion-1VBisG>.sidebarRegionScroller-FXiQOh {
    max-width: 100%;
}

.sidebarRegionScroller-FXiQOh:not(:hover) .item-2GWPIy.selected-1sf9UK {
    margin-top: 8px;
}

#app-mount .sidebarRegionScroller-FXiQOh:not(:hover) .side-1lrxIh>div:not(.item-2GWPIy.selected-1sf9UK) {
    display: none;
}

/* contentregion */
.contentRegion-3HkfJJ {
    margin-top: 48px;
}

.contentColumn-1C7as6,
.customColumn-2n-oKU {
    min-width: unset;
    width: 0;
}

.contentColumnDefault-3eyv5o {
    padding-top: 20px;
    padding-right: calc(20px - 8px);
    padding-left: 20px;
}

.toolsContainer-25FL6V {
    position: absolute;
    padding-top: 8px;
    right: -37px;
    /* top: -44px; */
    z-index: 999;
}

.closeButton-PCZcma+.keybind-13vtq8 {
    display: none;
}

.closeButton-PCZcma:hover+.keybind-13vtq8 {
    display: block;
}

/* scrollbar */
.scroller-39BnzZ::-webkit-scrollbar-track,
.scroller-14hecM::-webkit-scrollbar-track,
.contentRegionScroller-2_GT_N::-webkit-scrollbar-track {
    display: none;
}

.scroller-39BnzZ::-webkit-scrollbar-thumb,
.scroller-14hecM::-webkit-scrollbar-thumb,
.contentRegionScroller-2_GT_N::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.scroller-39BnzZ:hover::-webkit-scrollbar-thumb,
.scroller-14hecM:hover::-webkit-scrollbar-thumb,
.contentRegionScroller-2_GT_N:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scroller-39BnzZ::-webkit-scrollbar,
.scroller-14hecM::-webkit-scrollbar,
.contentRegionScroller-2_GT_N::-webkit-scrollbar {
    width: 8px;
}

.scroller-39BnzZ::-webkit-scrollbar-thumb,
.scroller-14hecM::-webkit-scrollbar-thumb,
.contentRegionScroller-2_GT_N::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
}

/* responsive elements */
.userInfo-regn9W {
    flex-wrap: wrap;
}

.userInfo-regn9W {
    min-height: 72;
    height: unset;
}

.buttonContainer-cmXa0P {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer-cmXa0P>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.accountProfileCard-lbN7n- .fieldButtonList-28BYbB {
    flex-direction: column;
}

#my-account-tab .flexChild-3PzYmX:not(img) {
    width: 100%;
}

.profileCustomizationSection-2OOT4p .baseLayout-8AMrwn {
    flex-wrap: wrap;
}

.profileCustomizationSection-2OOT4p .preview-Z55SA3 {
    margin-top: 20px;
    margin-left: 0;
}

#streamer-mode-tab .formNotice-2nS8ey .flex-2S1XBF {
    flex-direction: column;
}

.marketingRefreshSectionTier1-1chtWC {
    flex-wrap: wrap;
}

.contentRegion-3HkfJJ .flex-2S1XBF.horizontal-112GEH:not(.layout-Zs52SM, .iconWrapper-1sOtkE, .headerInfo-3UVPHi) {
    grid-template-columns: repeat(auto-fill, 100%);
    display: grid;
}

.horizontal-112GEH>.flex-2S1XBF,
.horizontal-112GEH:not(.headerInfo-3UVPHi)>.flexChild-3PzYmX {
    margin-left: 0;
    margin-right: 0;
}

.horizontal-112GEH>.flex-2S1XBF:not(:first-child),
.horizontal-112GEH:not(.headerInfo-3UVPHi)>.flexChild-3PzYmX:not(:first-child) {
    margin-top: 8px;
}

.features-2OVNMp {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

#nitro-server-boost-tab .guilds-XTTuu3 {
    grid-template-columns: repeat(auto-fill, 100%);
}

.tiersList-12_0Zw {
    flex-wrap: wrap;
}

.tiersList-12_0Zw .tierVertical-1fTmTd+.tierVertical-1fTmTd {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
}

.tiersList-12_0Zw .wrapper-3Zq_cJ {
    padding: 8px 16px;
}

#profile-customization-tab .baseLayoutProfileThemes-1Jj-oN {
    flex-wrap: wrap;
}

#profile-customization-tab .page-nvZ_ef {
    margin-left: 8px;
    margin-right: 8px;
}

.profileCustomizationPreview-2-Y173 {
    width: calc(var(--settingsidebar-width) - 20px);
}

/* guild settings */
.progressBarImage-3lGAbU {
    width: 100%;
    height: auto;
}

.customScroller-m1-jZn>div {
    margin-left: 0;
    padding-left: 20px;
    min-width: 100%;
}

.roleNameSpacing-ss4Ir8 {
    -ms-flex: 0 0 105px;
    flex: 0 0 105px;
}

.memberSpacing-1e6OH3 {
    -ms-flex: 0 0 0;
    flex: 0;
    margin-left: 0;
}

.searchContainer-u-1vUp {
    flex-wrap: wrap;
}

/* role sidebar */
#roles-tab .sidebar-3K3Z4C {
    position: absolute;
    height: 48px;
    width: 100%;
    flex-basis: 100% !important;
    z-index: 10;
    overflow: hidden;
    border-right: none;
}

#roles-tab .sidebar-3K3Z4C:hover {
    height: 100%;
}

#roles-tab .sidebar-3K3Z4C:hover+.contentContainer-3hXFtK {
    visibility: hidden;
}

.contentContainer-3hXFtK {
    left: 0;
}

#roles-tab .sidebar-3K3Z4C:not(:hover) .titleContainer-3fPic2,
#roles-tab .sidebar-3K3Z4C:not(:hover) .row-LoqnA5.item-2GWPIy:not(.selected-1sf9UK),
#roles-tab .sidebar-3K3Z4C:not(:hover) .list-1AJFv_::-webkit-scrollbar-thumb {
    display: none;
}

#roles-tab .page-15bX59 {
    min-width: unset;
}

#roles-tab .titleContainer-3fPic2 {
    width: calc(100% - 32px);
    padding: 20px;
    margin: 0;
}

#roles-tab .list-1AJFv_ {
    padding-left: calc(20px + 6px);
}

#roles-tab .sidebar-3K3Z4C:not(:hover) .list-1AJFv_ .side-1lrxIh {
    margin-top: 8px;
    margin-right: 40px;
}

#roles-tab .contentWidth-3aWel5 {
    width: 100%;
    min-width: unset;
    padding-left: 20px;
    padding-right: calc(20px - 8px);
}

#roles-tab .permissionsWrapper-34gbP6 .clearButtonWrapper-3P4Ikn {
    position: relative;
}

.infoWrapper-1HtsGy {
    flex-wrap: wrap;
}

.infoItem-Q4HWUe {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

img.infoItem-Q4HWUe {
    width: 100%;
}

.descriptionBox-SKGNgB {
    flex-wrap: wrap;
}

.features-XssPiD {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

.tiers-7TOtI7 {
    margin-left: 38px;
    width: calc(100% - 38px);
}

.perks-36lD43 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.avatar-rUnPfv {
    flex-shrink: 0;
}

.member-2cj2PI {
    width: 100%;
}

.member-2cj2PI .nameTag-1UsB6_ {
    min-width: 100px;
}

.revokeInvite-1VNYBG {
    right: 2px;
}

.permission-CbNHIg {
    -webkit-box-align: start;
    align-items: start;
    height: fit-content;
}

.permissionCheckmark-ji-OoY {
    flex-shrink: 0;
}

/* Automod */
#guild_automod-tab .descriptionContainer-3zJrFW {
    flex-wrap: wrap;
    justify-content: center;
}

#guild_automod-tab .mainContainer-yxgti4 {
    display: grid;
    row-gap: 10px;
}

#guild_automod-tab .ruleTextContainer-akUmjL {
    margin-right: 0;
}

.saveNoticeContainer-3t-pI1 {
    width: 100%;
}

#app-mount .saveNoticeContainer-3t-pI1 {
    border-radius: unset;
    background-color: unset;
    border: unset;
    padding: unset;
    margin: unset;
}

.noticeRegion-qjyUVg {
    width: 100%;
}

.saveNoticeContainer-3t-pI1 .message-3C6JQ1,
.noticeRegion-qjyUVg .message-3C6JQ1 {
    white-space: normal;
}

.saveNoticeContainer-3t-pI1 .flexContainer-3yvuCP,
.noticeRegion-qjyUVg .flexContainer-3yvuCP {
    display: grid;
}

#guild_automod-tab .triggerContainer-1T_TRB {
    display: grid;
}

#guild_automod-tab .cardContentsContainer-1bLlb8 {
    margin-left: 8px;
    margin-right: 8px;
}

#guild_automod-tab .mentionLimitContainer-zBzr5i {
    display: grid;
    row-gap: 10px;
}

/* plugin repo */
.repoList-9JnAPs .repoHeader-2KfNvH {
    padding-top: 20px;
    padding-right: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH>* {
    min-width: unset;
    padding-left: 20px;
    padding-right: 20px;
}

.repoList-9JnAPs .contentColumn-1C7as6 {
    padding-top: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBar-2hXqzU {
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--settingsidebar-width);
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBarItem-30Te4- {
    margin: 0 2px;
}

.repoList-9JnAPs.contentRegion-3HkfJJ .flex-2S1XBF.tabBarContainer-sCZC4w {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.repoList-9JnAPs.contentRegion-3HkfJJ .flex-2S1XBF.quickSelect-384d3G {
    display: flex;
    align-items: center;
}

.repoList-9JnAPs.contentRegion-3HkfJJ .flex-2S1XBF.quickSelectClick-2ycwNA {
    display: flex;
    margin-top: 0;
}

.repoList-9JnAPs .toolsContainer-25FL6V {
    margin-top: -177px;
}

#pluginrepo-tab .settingsRow-o9Ft44 .textScroller-dc9_kz div {
    white-space: normal !important;
}

#pluginrepo-tab .settingsRow-o9Ft44 .flexChild-3PzYmX {
    width: auto;
}

/* Sessions */
.sessions-2KZ0-Q .sessionMoreButton-2cApSx {
    position: absolute;
    top: 12px;
    right: 0;
    display: none;
}

.sessions-2KZ0-Q .session-9khLqt:hover .sessionMoreButton-2cApSx {
    display: block;
}

.sessions-2KZ0-Q .session-9khLqt {
    position: relative;
}

.sessions-2KZ0-Q .session-9khLqt {
    gap: 12px;
}

.sessions-2KZ0-Q .sessionInfo-HxfESS {
    gap: 0;
}

.sessions-2KZ0-Q .eyebrow-Ejf06y.sessionInfoRow-pEX9fY {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions-2KZ0-Q .text-sm-medium-3Pz3rB.sessionInfoRow-pEX9fY {
    color: var(--channels-default);
}

.sessions-2KZ0-Q .sessionIcon-2fwSzb {
    background: none;
    color: var(--interactive-normal);
}

.sessions-2KZ0-Q .session-9khLqt.currentSession-1g_u10 .sessionIcon-2fwSzb {
    color: var(--status-positive);
}

.children-1xdcWE>.session-9khLqt:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/* Nitro */
#discord-nitro-tab {
    margin-top: 24px;
}

#discord-nitro-tab .premiumCards-36uMGt {
    display: grid;
}

.premiumCards-36uMGt .card-3ie2dy,
.settingsContainer-36qZZ9.settingsHero-2Me_mE {
    width: 100%;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .settingsTextContainer-3grHhq {
    width: 100%;
    padding: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .buttonContainer-2sL6rz {
    display: grid;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .display-md-3I4dlu {
    font-size: 24px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .description-2_tPhd {
    margin-top: 8px;
    margin-bottom: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .sparkleStar-J6zUP3 {
    display: none;
}

#discord-nitro-tab .imageWrapper-oMkQl4 {
    box-shadow: none;
}

.premiumCards-36uMGt .marginTopForButtons-3u_La7 {
    margin-top: 24px;
}

#discord-nitro-tab .bigPerkCardContainer-100zsH,
#discord-nitro-tab .smallPerkCardContainer-X9-c92 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

#discord-nitro-tab .bigPerkCard-1uwmWV {
    background-color: var(--background-secondary-alt);
    padding: 24px;
}

#discord-nitro-tab .smallPerkCard-2sX_-- {
    padding: 24px;
}

.planComparisonTableContainer-2toIGM .cell-RLL0Ge,
.planComparisonTableContainer-2toIGM .headerCell-3mJ5RH {
    width: 100px;
}

.planComparisonTableContainer-2toIGM .headerRow-_Ed0yk .headerCell-3mJ5RH {
    justify-content: center;
}

.planComparisonTableContainer-2toIGM .row-32xD2c {
    height: auto;
}

.planComparisonTableContainer-2toIGM .logo-35nkkB {
    width: 70%;
}

.planComparisonTableContainer-2toIGM .headerLabelCell-eG_2hU .heading-lg-bold-3uwrwG {
    font-size: 16px;
    line-height: 20px;
}

.planComparisonTableContainer-2toIGM .button-kcar9o {
    width: calc(100% - 16px);
    height: 40px;
}

.planComparisonTableContainer-2toIGM .tier2ColumnOuter-1U2eKO {
    width: 37%;
}

#discord-nitro-tab .footer-j5ehCa {
    margin-top: 24px;
    margin-bottom: 24px;
}

#discord-nitro-tab .buttonContainer-tkKXTP {
    gap: 16px;
    display: grid;
}

/* BD */
.bd-addon-list-title {
    flex-wrap: wrap;
}

.bd-addon-list-filters {
    flex-wrap: wrap;
    gap: 6px 10px;
    margin-top: 6px;
}

.bd-addon-list-filters .bd-select-wrapper+.bd-select-wrapper {
    margin-left: 0;
}

.bd-addon-list-controls {
    flex-wrap: wrap;
}

.bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}