@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

:root {
    --settingsidebar-border-radius: 0 8px 0 0;
}

.layer_f7d46a ~.layer_f7d46a ,
.layer_f7d46a :has(~.layer_f7d46a ) {
    --settingsidebar-width: 280px;
}

/* channelTextArea */
.layer_f7d46a .stop-animations .channelTextArea_c2094b:not(.channelTextAreaDisabled_d0f0e8) .scrollableContainer_ff917f {
    opacity: 0.5;
    cursor: not-allowed;
}

.layer_f7d46a .stop-animations .channelTextArea_c2094b:not(.channelTextAreaDisabled_d0f0e8) .attachWrapper_d01704,
.layer_f7d46a .stop-animations .channelTextArea_c2094b:not(.channelTextAreaDisabled_d0f0e8) .buttons__7ecff {
    display: none;
}

/* base */
#app-mount .baseLayer__2b890 {
    opacity: 1 !important;
    transform: unset !important;
    will-change: unset !important;
}

#app-mount .stop-animations * {
    transition-property: inherit !important;
    animation: inherit !important;
}

.layers__1c917>.layer_f7d46a .animating_b7d085 *,
.layers__1c917>.layer_f7d46a .animating_b7d085 {
    pointer-events: auto !important;
    will-change: unset;
}

.layer_f7d46a .stop-animations {
    margin-left: var(--settingsidebar-width);
}

.layer_f7d46a ~.layer_f7d46a  {
    background: none;
    width: var(--settingsidebar-width);
}

.platform-win .standardSidebarView__12528 {
    background: none;
    overflow: hidden;
    border-radius: var(--settingsidebar-border-radius);
}

.sidebarRegion__36437:hover ~ .contentRegion__08eba {
    display: none;
}

/* sidebar */
.sidebarRegion__36437 {
    position: absolute;
    height: 48px;
    z-index: 11;
    width: var(--settingsidebar-width);
    pointer-events: none;
}

.sidebarRegion__36437:hover,
:has(.toolsContainer__4e6ad + div:active) .sidebarRegion__36437 {
    height: 100%;
    pointer-events: all;
}

.toolsContainer__4e6ad + div {
    width: var(--settingsidebar-width);
    height: 48px !important;
    top: -48px;
    left: 0;
    z-index: 9999;
    pointer-events: all !important;
    cursor: pointer;
}

.toolsContainer__4e6ad + div:active {
    display: none;
}

.sidebarRegion__36437:has(.selected_a523ff:focus-within) {
    display: none;
}

.sidebar__02e8d {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: calc(20px - 8px);
}

.sidebarRegion__36437:not(:hover) .sidebar__02e8d {
    padding-top: 0;
    padding-bottom: 0;
}

.sidebarRegion__36437>.sidebarRegionScroller__8113e {
    max-width: 100%;
}

.sidebarRegionScroller__8113e:not(:hover) .item__48dda.selected_a523ff {
    margin-top: 8px;
}

#app-mount .sidebarRegionScroller__8113e:not(:hover) .side_b4b3f6>div:not(.item__48dda.selected_a523ff) {
    display: none;
}

/* contentregion */
.contentRegion__08eba {
    margin-top: 48px;
}

.contentColumn__5f80b,
.customColumn__0b6a6 {
    min-width: unset;
    width: 0;
}

.contentColumnDefault__78de3 {
    padding-top: 20px;
    padding-right: calc(20px - 8px);
    padding-left: 20px;
}

.toolsContainer__4e6ad {
    position: absolute;
    padding-top: 8px;
    right: -37px;
    /* top: -44px; */
    z-index: 999;
}

.closeButton__8177f+.keybind_a619c1 {
    display: none;
}

.closeButton__8177f:hover+.keybind_a619c1 {
    display: block;
}

/* scrollbar */
.scroller_bcb155::-webkit-scrollbar-track,
.scroller__16794::-webkit-scrollbar-track,
.contentRegionScroller__9ae20::-webkit-scrollbar-track {
    display: none;
}

.scroller_bcb155::-webkit-scrollbar-thumb,
.scroller__16794::-webkit-scrollbar-thumb,
.contentRegionScroller__9ae20::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.scroller_bcb155:hover::-webkit-scrollbar-thumb,
.scroller__16794:hover::-webkit-scrollbar-thumb,
.contentRegionScroller__9ae20:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scroller_bcb155::-webkit-scrollbar,
.scroller__16794::-webkit-scrollbar,
.contentRegionScroller__9ae20::-webkit-scrollbar {
    width: 8px;
}

.scroller_bcb155::-webkit-scrollbar-thumb,
.scroller__16794::-webkit-scrollbar-thumb,
.contentRegionScroller__9ae20::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
}

/* responsive elements */
.userInfo_fb7651 {
    flex-wrap: wrap;
}

.userInfo_fb7651 {
    min-height: 72;
    height: unset;
}

.buttonContainer__44ac1 {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer__44ac1>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.accountProfileCard__744d8 .fieldButtonList_fd9518 {
    flex-direction: column;
}

#my-account-tab .flexChild__3da10:not(img) {
    width: 100%;
}

.profileCustomizationSection-2OOT4p .baseLayout-8AMrwn {
    flex-wrap: wrap;
}

.profileCustomizationSection-2OOT4p .preview-Z55SA3 {
    margin-top: 20px;
    margin-left: 0;
}

#streamer-mode-tab .formNotice-2nS8ey .flex_f18b02 {
    flex-direction: column;
}

.marketingRefreshSectionTier1-1chtWC {
    flex-wrap: wrap;
}

.contentRegion__08eba .flex_f18b02.horizontal__4848b:not(.layout__88e96, .iconWrapper_fda12f, .headerInfo__7273f) {
    grid-template-columns: repeat(auto-fill, 100%);
    display: grid;
}

.horizontal__4848b>.flex_f18b02,
.horizontal__4848b:not(.headerInfo__7273f)>.flexChild__3da10 {
    margin-left: 0;
    margin-right: 0;
}

.horizontal__4848b>.flex_f18b02:not(:first-child),
.horizontal__4848b:not(.headerInfo__7273f)>.flexChild__3da10:not(:first-child) {
    margin-top: 8px;
}

.features_c2c4bf {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

#nitro-server-boost-tab .guilds__66a9b {
    grid-template-columns: repeat(auto-fill, 100%);
}

.tiersList_ece6a4 {
    flex-wrap: wrap;
}

.tiersList_ece6a4 .tierVertical__21cea+.tierVertical__21cea {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
}

.tiersList_ece6a4 .wrapper_adaea0 {
    padding: 8px 16px;
}

#profile-customization-tab .baseLayoutProfileThemes-1Jj-oN {
    flex-wrap: wrap;
}

#profile-customization-tab .page-nvZ_ef {
    margin-left: 8px;
    margin-right: 8px;
}

.profileCustomizationPreview-2-Y173 {
    width: calc(var(--settingsidebar-width) - 20px);
}

/* guild settings */
.progressBarImage__54e3f {
    width: 100%;
    height: auto;
}

.customScroller_b96e1e>div {
    margin-left: 0;
    padding-left: 20px;
    min-width: 100%;
}

.roleNameSpacing__79a48 {
    -ms-flex: 0 0 105px;
    flex: 0 0 105px;
}

.memberSpacing_b7cc5d {
    -ms-flex: 0 0 0;
    flex: 0;
    margin-left: 0;
}

.searchContainer_a605d5 {
    flex-wrap: wrap;
}

/* role sidebar */
#roles-tab .sidebar__37984 {
    position: absolute;
    height: 48px;
    width: 100%;
    flex-basis: 100% !important;
    z-index: 11;
    overflow: hidden;
    border-right: none;
}

#roles-tab .sidebar__37984:hover {
    height: 100%;
}

#roles-tab .sidebar__37984:hover+.contentContainer__50662 {
    visibility: hidden;
}

.contentContainer__50662 {
    left: 0;
}

#roles-tab .sidebar__37984:not(:hover) .titleContainer_d09261,
#roles-tab .sidebar__37984:not(:hover) .row__62bb0.item__48dda:not(.selected_a523ff),
#roles-tab .sidebar__37984:not(:hover) .list__41249::-webkit-scrollbar-thumb {
    display: none;
}

#roles-tab .page_c3ed26 {
    min-width: unset;
}

#roles-tab .titleContainer_d09261 {
    width: calc(100% - 32px);
    padding: 20px;
    margin: 0;
}

#roles-tab .list__41249 {
    padding-left: calc(20px + 6px);
}

#roles-tab .sidebar__37984:not(:hover) .list__41249 .side_b4b3f6 {
    margin-top: 8px;
    margin-right: 40px;
}

#roles-tab .contentWidth_f1e6d4 {
    width: 100%;
    min-width: unset;
    padding-left: 20px;
    padding-right: calc(20px - 8px);
}

#roles-tab .permissionsWrapper__7b073 .clearButtonWrapper__5b951 {
    position: relative;
}

.infoWrapper_e750be {
    flex-wrap: wrap;
}

.infoItem_dd83a7 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

img.infoItem_dd83a7 {
    width: 100%;
}

.descriptionBox_bdb07b {
    flex-wrap: wrap;
}

.features__03088 {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

.tiers__13b89 {
    margin-left: 38px;
    width: calc(100% - 38px);
}

.perks__9383e {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.avatar-rUnPfv {
    flex-shrink: 0;
}

.member-2cj2PI {
    width: 100%;
}

.member-2cj2PI .nameTag-1UsB6_ {
    min-width: 100px;
}

.revokeInvite__4b110 {
    right: 2px;
}

.permission__8fb49 {
    -webkit-box-align: start;
    align-items: start;
    height: fit-content;
}

.permissionCheckmark__6860a {
    flex-shrink: 0;
}

/* Automod */
#guild_automod-tab .descriptionContainer_c1341b {
    flex-wrap: wrap;
    justify-content: center;
}

#guild_automod-tab .mainContainer_f0f256 {
    display: grid;
    row-gap: 10px;
}

#guild_automod-tab .ruleTextContainer__18fb5 {
    margin-right: 0;
}

.saveNoticeContainer__67513 {
    width: 100%;
}

#app-mount .saveNoticeContainer__67513 {
    border-radius: unset;
    background-color: unset;
    border: unset;
    padding: unset;
    margin: unset;
}

.noticeRegion_b8b9df {
    width: 100%;
}

.saveNoticeContainer__67513 .message__702f7,
.noticeRegion_b8b9df .message__702f7 {
    white-space: normal;
}

.saveNoticeContainer__67513 .flexContainer__050ee,
.noticeRegion_b8b9df .flexContainer__050ee {
    display: grid;
}

#guild_automod-tab .triggerContainer__66e24 {
    display: grid;
}

#guild_automod-tab .cardContentsContainer__0e16a {
    margin-left: 8px;
    margin-right: 8px;
}

#guild_automod-tab .mentionLimitContainer_bb7659 {
    display: grid;
    row-gap: 10px;
}

/* plugin repo */
.repoList-9JnAPs .repoHeader-2KfNvH {
    padding-top: 20px;
    padding-right: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH>* {
    min-width: unset;
    padding-left: 20px;
    padding-right: 20px;
}

.repoList-9JnAPs .contentColumn__5f80b {
    padding-top: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBar-2hXqzU {
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--settingsidebar-width);
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBarItem_ce14f3 {
    margin: 0 2px;
}

.repoList-9JnAPs.contentRegion__08eba .flex_f18b02.tabBarContainer-sCZC4w {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.repoList-9JnAPs.contentRegion__08eba .flex_f18b02.quickSelect__540d0 {
    display: flex;
    align-items: center;
}

.repoList-9JnAPs.contentRegion__08eba .flex_f18b02.quickSelectClick_eec93f {
    display: flex;
    margin-top: 0;
}

.repoList-9JnAPs .toolsContainer__4e6ad {
    margin-top: -177px;
}

#pluginrepo-tab .settingsRow-o9Ft44 .textScroller-dc9_kz div {
    white-space: normal !important;
}

#pluginrepo-tab .settingsRow-o9Ft44 .flexChild__3da10 {
    width: auto;
}

/* Sessions */
.sessions__7b95a .sessionMoreButton_f38a79 {
    position: absolute;
    top: 12px;
    right: 0;
    display: none;
}

.sessions__7b95a .session__201cb:hover .sessionMoreButton_f38a79 {
    display: block;
}

.sessions__7b95a .session__201cb {
    position: relative;
}

.sessions__7b95a .session__201cb {
    gap: 12px;
}

.sessions__7b95a .sessionInfo_e3ad35 {
    gap: 0;
}

.sessions__7b95a .eyebrow_e5a66c.sessionInfoRow_a9ccc2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions__7b95a .text-sm-medium_bc6ffc.sessionInfoRow_a9ccc2 {
    color: var(--channels-default);
}

.sessions__7b95a .sessionIcon_df2e9c {
    background: none;
    color: var(--interactive-normal);
}

.sessions__7b95a .session__201cb.currentSession__700d9 .sessionIcon_df2e9c {
    color: var(--status-positive);
}

.children_aba8cb>.session__201cb:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/* Nitro */
#discord-nitro-tab {
    margin-top: 24px;
}

#discord-nitro-tab .premiumCards_ed071e {
    display: grid;
}

.premiumCards_ed071e .card__48184,
.settingsContainer-36qZZ9.settingsHero-2Me_mE {
    width: 100%;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .settingsTextContainer-3grHhq {
    width: 100%;
    padding: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .buttonContainer-2sL6rz {
    display: grid;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .display-md-3I4dlu {
    font-size: 24px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .description-2_tPhd {
    margin-top: 8px;
    margin-bottom: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .sparkleStar-J6zUP3 {
    display: none;
}

#discord-nitro-tab .imageWrapper__178ee {
    box-shadow: none;
}

.premiumCards_ed071e .marginTopForButtons-3u_La7 {
    margin-top: 24px;
}

#discord-nitro-tab .bigPerkCardContainer-100zsH,
#discord-nitro-tab .smallPerkCardContainer-X9-c92 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

#discord-nitro-tab .bigPerkCard-1uwmWV {
    background-color: var(--background-secondary-alt);
    padding: 24px;
}

#discord-nitro-tab .smallPerkCard-2sX_-- {
    padding: 24px;
}

.planComparisonTableContainer-2toIGM .cell-RLL0Ge,
.planComparisonTableContainer-2toIGM .headerCell-3mJ5RH {
    width: 100px;
}

.planComparisonTableContainer-2toIGM .headerRow-_Ed0yk .headerCell-3mJ5RH {
    justify-content: center;
}

.planComparisonTableContainer-2toIGM .row-32xD2c {
    height: auto;
}

.planComparisonTableContainer-2toIGM .logo-35nkkB {
    width: 70%;
}

.planComparisonTableContainer-2toIGM .headerLabelCell-eG_2hU .heading-lg-bold-3uwrwG {
    font-size: 16px;
    line-height: 20px;
}

.planComparisonTableContainer-2toIGM .button-kcar9o {
    width: calc(100% - 16px);
    height: 40px;
}

.planComparisonTableContainer-2toIGM .tier2ColumnOuter-1U2eKO {
    width: 37%;
}

#discord-nitro-tab .footer-j5ehCa {
    margin-top: 24px;
    margin-bottom: 24px;
}

#discord-nitro-tab .buttonContainer-tkKXTP {
    gap: 16px;
    display: grid;
}

/* BD */
.bd-addon-list-title {
    flex-wrap: wrap;
}

.bd-addon-list-filters {
    flex-wrap: wrap;
    gap: 6px 10px;
    margin-top: 6px;
}

.bd-addon-list-filters .bd-select-wrapper+.bd-select-wrapper {
    margin-left: 0;
}

.bd-addon-list-controls {
    flex-wrap: wrap;
}

.bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
