@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

:root {
    --settingsidebar-border-radius: 0 8px 0 0;
}

.layer_d4b6c5 ~.layer_d4b6c5 ,
.layer_d4b6c5 :has(~.layer_d4b6c5 ) {
    --settingsidebar-width: 280px;
}

/* channelTextArea */
.layer_d4b6c5 .stop-animations .channelTextArea_a7d72e:not(.channelTextAreaDisabled_d0696b) .scrollableContainer_d0696b {
    opacity: 0.5;
    cursor: not-allowed;
}

.layer_d4b6c5 .stop-animations .channelTextArea_a7d72e:not(.channelTextAreaDisabled_d0696b) .attachWrapper_f298d4,
.layer_d4b6c5 .stop-animations .channelTextArea_a7d72e:not(.channelTextAreaDisabled_d0696b) .buttons_d0696b {
    display: none;
}

/* base */
#app-mount .baseLayer_d4b6c5 {
    opacity: 1 !important;
    transform: unset !important;
    will-change: unset !important;
}

#app-mount .stop-animations * {
    transition-property: inherit !important;
    animation: inherit !important;
}

.layers_d4b6c5>.layer_d4b6c5 .animating_d4b6c5 *,
.layers_d4b6c5>.layer_d4b6c5 .animating_d4b6c5 {
    pointer-events: auto !important;
    will-change: unset;
}

.layer_d4b6c5 .stop-animations {
    margin-left: var(--settingsidebar-width);
}

.layer_d4b6c5 ~.layer_d4b6c5  {
    background: none;
    width: var(--settingsidebar-width);
}

.platform-win .standardSidebarView_c25c6d {
    background: none;
    overflow: hidden;
    border-radius: var(--settingsidebar-border-radius);
}

.sidebarRegion_c25c6d:hover ~ .contentRegion_c25c6d {
    display: none;
}

/* sidebar */
.sidebarRegion_c25c6d {
    position: absolute;
    height: 48px;
    z-index: 11;
    width: var(--settingsidebar-width);
    pointer-events: none;
}

.sidebarRegion_c25c6d:hover,
:has(.toolsContainer_c25c6d + div:active) .sidebarRegion_c25c6d {
    height: 100%;
    pointer-events: all;
}

.toolsContainer_c25c6d + div {
    width: var(--settingsidebar-width);
    height: 48px !important;
    top: -48px;
    left: 0;
    z-index: 9999;
    pointer-events: all !important;
    cursor: pointer;
}

.toolsContainer_c25c6d + div:active {
    display: none;
}

.sidebarRegion_c25c6d:has(.selected_a0:focus-within) {
    display: none;
}

.sidebar_c25c6d {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: calc(20px - 8px);
}

.sidebarRegion_c25c6d:not(:hover) .sidebar_c25c6d {
    padding-top: 0;
    padding-bottom: 0;
}

.sidebarRegion_c25c6d>.sidebarRegionScroller_c25c6d {
    max-width: 100%;
}

.sidebarRegionScroller_c25c6d:not(:hover) .item_a0.selected_a0 {
    margin-top: 8px;
}

#app-mount .sidebarRegionScroller_c25c6d:not(:hover) .side_a0>div:not(.item_a0.selected_a0) {
    display: none;
}

/* contentregion */
.contentRegion_c25c6d {
    margin-top: 48px;
}

.contentColumn_c25c6d,
.customColumn_c25c6d {
    min-width: unset;
    width: 0;
}

.contentColumnDefault_c25c6d {
    padding-top: 20px;
    padding-right: calc(20px - 8px);
    padding-left: 20px;
}

.toolsContainer_c25c6d {
    position: absolute;
    padding-top: 8px;
    right: -37px;
    /* top: -44px; */
    z-index: 999;
}

.closeButton_df5532+.keybind_df5532 {
    display: none;
}

.closeButton_df5532:hover+.keybind_df5532 {
    display: block;
}

/* scrollbar */
.scroller_da1bd9::-webkit-scrollbar-track,
.scroller_a73849::-webkit-scrollbar-track,
.contentRegionScroller_c25c6d::-webkit-scrollbar-track {
    display: none;
}

.scroller_da1bd9::-webkit-scrollbar-thumb,
.scroller_a73849::-webkit-scrollbar-thumb,
.contentRegionScroller_c25c6d::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.scroller_da1bd9:hover::-webkit-scrollbar-thumb,
.scroller_a73849:hover::-webkit-scrollbar-thumb,
.contentRegionScroller_c25c6d:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scroller_da1bd9::-webkit-scrollbar,
.scroller_a73849::-webkit-scrollbar,
.contentRegionScroller_c25c6d::-webkit-scrollbar {
    width: 8px;
}

.scroller_da1bd9::-webkit-scrollbar-thumb,
.scroller_a73849::-webkit-scrollbar-thumb,
.contentRegionScroller_c25c6d::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
}

/* responsive elements */
.userInfo_b69b77 {
    flex-wrap: wrap;
}

.userInfo_b69b77 {
    min-height: 72;
    height: unset;
}

.buttonContainer_adabdf {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer_adabdf>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.accountProfileCard_b69b77 .fieldButtonList_b69b77 {
    flex-direction: column;
}

#my-account-tab .flexChild_bba380:not(img) {
    width: 100%;
}

.profileCustomizationSection-2OOT4p .baseLayout-8AMrwn {
    flex-wrap: wrap;
}

.profileCustomizationSection-2OOT4p .preview-Z55SA3 {
    margin-top: 20px;
    margin-left: 0;
}

#streamer-mode-tab .formNotice-2nS8ey .flex_bba380 {
    flex-direction: column;
}

.marketingRefreshSectionTier1-1chtWC {
    flex-wrap: wrap;
}

.contentRegion_c25c6d .flex_bba380.horizontal_bba380:not(.layout__88e96, .iconWrapper_d5408a, .headerInfo_f0135d) {
    grid-template-columns: repeat(auto-fill, 100%);
    display: grid;
}

.horizontal_bba380>.flex_bba380,
.horizontal_bba380:not(.headerInfo_f0135d)>.flexChild_bba380 {
    margin-left: 0;
    margin-right: 0;
}

.horizontal_bba380>.flex_bba380:not(:first-child),
.horizontal_bba380:not(.headerInfo_f0135d)>.flexChild_bba380:not(:first-child) {
    margin-top: 8px;
}

.features_c2c4bf {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

#nitro-server-boost-tab .guilds__66a9b {
    grid-template-columns: repeat(auto-fill, 100%);
}

.tiersList_ece6a4 {
    flex-wrap: wrap;
}

.tiersList_ece6a4 .tierVertical__21cea+.tierVertical__21cea {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
}

.tiersList_ece6a4 .wrapper_adaea0 {
    padding: 8px 16px;
}

#profile-customization-tab .baseLayoutProfileThemes-1Jj-oN {
    flex-wrap: wrap;
}

#profile-customization-tab .page-nvZ_ef {
    margin-left: 8px;
    margin-right: 8px;
}

.profileCustomizationPreview-2-Y173 {
    width: calc(var(--settingsidebar-width) - 20px);
}

/* guild settings */
.progressBarImage_f0a9ff {
    width: 100%;
    height: auto;
}

.customScroller_c25c6d>div {
    margin-left: 0;
    padding-left: 20px;
    min-width: 100%;
}

.roleNameSpacing_e72811 {
    -ms-flex: 0 0 105px;
    flex: 0 0 105px;
}

.memberSpacing_e72811 {
    -ms-flex: 0 0 0;
    flex: 0;
    margin-left: 0;
}

.searchContainer_e72811 {
    flex-wrap: wrap;
}

/* role sidebar */
#roles-tab .sidebar_e87574 {
    position: absolute;
    height: 48px;
    width: 100%;
    flex-basis: 100% !important;
    z-index: 11;
    overflow: hidden;
    border-right: none;
}

#roles-tab .sidebar_e87574:hover {
    height: 100%;
}

#roles-tab .sidebar_e87574:hover+.contentContainer_e8251c {
    visibility: hidden;
}

.contentContainer_e8251c {
    left: 0;
}

#roles-tab .sidebar_e87574:not(:hover) .titleContainer_e87574,
#roles-tab .sidebar_e87574:not(:hover) .row_e87574.item_a0:not(.selected_a0),
#roles-tab .sidebar_e87574:not(:hover) .list_e87574::-webkit-scrollbar-thumb {
    display: none;
}

#roles-tab .page_e8251c {
    min-width: unset;
}

#roles-tab .titleContainer_e87574 {
    width: calc(100% - 32px);
    padding: 20px;
    margin: 0;
}

#roles-tab .list_e87574 {
    padding-left: calc(20px + 6px);
}

#roles-tab .sidebar_e87574:not(:hover) .list_e87574 .side_a0 {
    margin-top: 8px;
    margin-right: 40px;
}

#roles-tab .contentWidth_bd05f1 {
    width: 100%;
    min-width: unset;
    padding-left: 20px;
    padding-right: calc(20px - 8px);
}

#roles-tab .permissionsWrapper_a73849 .clearButtonWrapper_a73849 {
    position: relative;
}

.infoWrapper_aad57c {
    flex-wrap: wrap;
}

.infoItem_aad57c {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

img.infoItem_aad57c {
    width: 100%;
}

.descriptionBox_c38f8d {
    flex-wrap: wrap;
}

.features_b1a8d5 {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

.tiers_da77bd {
    margin-left: 38px;
    width: calc(100% - 38px);
}

.perks_da77bd {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.avatar-rUnPfv {
    flex-shrink: 0;
}

.member-2cj2PI {
    width: 100%;
}

.member-2cj2PI .nameTag-1UsB6_ {
    min-width: 100px;
}

.revokeInvite_edb39d {
    right: 2px;
}

.permission_f0135d {
    -webkit-box-align: start;
    align-items: start;
    height: fit-content;
}

.permissionCheckmark_f0135d {
    flex-shrink: 0;
}

/* Automod */
#guild_automod-tab .descriptionContainer_a7a160 {
    flex-wrap: wrap;
    justify-content: center;
}

#guild_automod-tab .mainContainer_ea28e2 {
    display: grid;
    row-gap: 10px;
}

#guild_automod-tab .ruleTextContainer_ea28e2 {
    margin-right: 0;
}

.saveNoticeContainer_d5bf6c {
    width: 100%;
}

#app-mount .saveNoticeContainer_d5bf6c {
    border-radius: unset;
    background-color: unset;
    border: unset;
    padding: unset;
    margin: unset;
}

.noticeRegion_c25c6d {
    width: 100%;
}

.saveNoticeContainer_d5bf6c .message_b6cd66,
.noticeRegion_c25c6d .message_b6cd66 {
    white-space: normal;
}

.saveNoticeContainer_d5bf6c .flexContainer_b6cd66,
.noticeRegion_c25c6d .flexContainer_b6cd66 {
    display: grid;
}

#guild_automod-tab .triggerContainer_df95ff {
    display: grid;
}

#guild_automod-tab .cardContentsContainer_fa2661 {
    margin-left: 8px;
    margin-right: 8px;
}

#guild_automod-tab .mentionLimitContainer_fa2661 {
    display: grid;
    row-gap: 10px;
}

/* plugin repo */
.repoList-9JnAPs .repoHeader-2KfNvH {
    padding-top: 20px;
    padding-right: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH>* {
    min-width: unset;
    padding-left: 20px;
    padding-right: 20px;
}

.repoList-9JnAPs .contentColumn_c25c6d {
    padding-top: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBar-2hXqzU {
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--settingsidebar-width);
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBarItem_b9fccc {
    margin: 0 2px;
}

.repoList-9JnAPs.contentRegion_c25c6d .flex_bba380.tabBarContainer-sCZC4w {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.repoList-9JnAPs.contentRegion_c25c6d .flex_bba380.quickSelect__540d0 {
    display: flex;
    align-items: center;
}

.repoList-9JnAPs.contentRegion_c25c6d .flex_bba380.quickSelectClick_eec93f {
    display: flex;
    margin-top: 0;
}

.repoList-9JnAPs .toolsContainer_c25c6d {
    margin-top: -177px;
}

#pluginrepo-tab .settingsRow-o9Ft44 .textScroller-dc9_kz div {
    white-space: normal !important;
}

#pluginrepo-tab .settingsRow-o9Ft44 .flexChild_bba380 {
    width: auto;
}

/* Sessions */
.sessions_c7a2c0 .sessionMoreButton_c7a2c0 {
    position: absolute;
    top: 12px;
    right: 0;
    display: none;
}

.sessions_c7a2c0 .session_c7a2c0:hover .sessionMoreButton_c7a2c0 {
    display: block;
}

.sessions_c7a2c0 .session_c7a2c0 {
    position: relative;
}

.sessions_c7a2c0 .session_c7a2c0 {
    gap: 12px;
}

.sessions_c7a2c0 .sessionInfo_c7a2c0 {
    gap: 0;
}

.sessions_c7a2c0 .eyebrow_e5a66c.sessionInfoRow_c7a2c0 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions_c7a2c0 .text-sm-medium_bc6ffc.sessionInfoRow_c7a2c0 {
    color: var(--channels-default);
}

.sessions_c7a2c0 .sessionIcon_c7a2c0 {
    background: none;
    color: var(--interactive-normal);
}

.sessions_c7a2c0 .session_c7a2c0.currentSession_c7a2c0 .sessionIcon_c7a2c0 {
    color: var(--status-positive);
}

.children_a6ae9b>.session_c7a2c0:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/* Nitro */
#discord-nitro-tab {
    margin-top: 24px;
}

#discord-nitro-tab .premiumCards_c87d73 {
    display: grid;
}

.premiumCards_c87d73 .card_c87d73,
.settingsContainer-36qZZ9.settingsHero-2Me_mE {
    width: 100%;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .settingsTextContainer-3grHhq {
    width: 100%;
    padding: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .buttonContainer-2sL6rz {
    display: grid;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .display-md-3I4dlu {
    font-size: 24px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .description-2_tPhd {
    margin-top: 8px;
    margin-bottom: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .sparkleStar-J6zUP3 {
    display: none;
}

#discord-nitro-tab .imageWrapper__178ee {
    box-shadow: none;
}

.premiumCards_c87d73 .marginTopForButtons-3u_La7 {
    margin-top: 24px;
}

#discord-nitro-tab .bigPerkCardContainer-100zsH,
#discord-nitro-tab .smallPerkCardContainer-X9-c92 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

#discord-nitro-tab .bigPerkCard-1uwmWV {
    background-color: var(--background-secondary-alt);
    padding: 24px;
}

#discord-nitro-tab .smallPerkCard-2sX_-- {
    padding: 24px;
}

.planComparisonTableContainer-2toIGM .cell-RLL0Ge,
.planComparisonTableContainer-2toIGM .headerCell-3mJ5RH {
    width: 100px;
}

.planComparisonTableContainer-2toIGM .headerRow-_Ed0yk .headerCell-3mJ5RH {
    justify-content: center;
}

.planComparisonTableContainer-2toIGM .row-32xD2c {
    height: auto;
}

.planComparisonTableContainer-2toIGM .logo-35nkkB {
    width: 70%;
}

.planComparisonTableContainer-2toIGM .headerLabelCell-eG_2hU .heading-lg-bold-3uwrwG {
    font-size: 16px;
    line-height: 20px;
}

.planComparisonTableContainer-2toIGM .button-kcar9o {
    width: calc(100% - 16px);
    height: 40px;
}

.planComparisonTableContainer-2toIGM .tier2ColumnOuter-1U2eKO {
    width: 37%;
}

#discord-nitro-tab .footer-j5ehCa {
    margin-top: 24px;
    margin-bottom: 24px;
}

#discord-nitro-tab .buttonContainer-tkKXTP {
    gap: 16px;
    display: grid;
}

/* BD */
.bd-addon-list-title {
    flex-wrap: wrap;
}

.bd-addon-list-filters {
    flex-wrap: wrap;
    gap: 6px 10px;
    margin-top: 6px;
}

.bd-addon-list-filters .bd-select-wrapper+.bd-select-wrapper {
    margin-left: 0;
}

.bd-addon-list-controls {
    flex-wrap: wrap;
}

.bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
