.chatContent_a7d72e[aria-label^=css-snippets] .divider_d5deea {
    display: none
}

.chatContent_a7d72e[aria-label^=css-snippets] .scrollerInner_e2e187 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(328px, 328px));
    column-width: 328px !important;
    grid-gap: 16px;
    padding-left: 16px
}

.chatContent_a7d72e[aria-label^=css-snippets] .messageListItem_d5deea {
    background: var(--background-secondary-alt);
    border-radius: 8px;
    max-width: 328px;
    min-height: 375px;
    overflow: hidden;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.chatContent_a7d72e[aria-label^=css-snippets] .messageListItem_d5deea:focus,
.chatContent_a7d72e[aria-label^=css-snippets] .messageListItem_d5deea:hover {
    background: var(--background-tertiary);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    box-shadow: var(--elevation-high);
    -webkit-box-shadow: var(--elevation-high)
}

.chatContent_a7d72e[aria-label^=css-snippets] .messagesWrapper_e2e187 .wrapper_ec86aa {
    border-radius: 8px;
    padding: 0 !important;
    margin-top: 0 !important
}

.chatContent_a7d72e[aria-label^=css-snippets] .groupStart_d5deea::after,
.chatContent_a7d72e[aria-label^=css-snippets] .imageDetails-1t6Zms,
.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea::before {
    display: none
}

.chatContent_a7d72e[aria-label^=css-snippets] .container_b558d0 {
    justify-content: center;
    align-content: space-evenly
}

.chatContent_a7d72e[aria-label^=css-snippets] .imageWrapper__178ee {
    display: flex;
    align-items: center
}

.chatContent_a7d72e[aria-label^=css-snippets] .container_b558d0>:not(:last-of-type) {
    margin-right: 0
}

.chatContent_a7d72e[aria-label^=css-snippets] .imageWrapper__178ee[style*="height: 300px;"] {
    transform: scale(.6)
}

/* Discord added this :D */
/* .chatContent_a7d72e[aria-label^=css-snippets] .embedWrapper_b558d0,
.chatContent_a7d72e[aria-label^=css-snippets] .embedVideo_ad0b71{
    height: auto !important;
    width: unset !important
}

.chatContent_a7d72e[aria-label^=css-snippets] .embedWrapper_b558d0 .clickableWrapper__2d2ea img,
.chatContent_a7d72e[aria-label^=css-snippets] .embedWrapper_b558d0 video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100%
} */

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c {
    color: var(--header-secondary);
    font-size: 14px;
    width: calc(328px - 32px);
    padding-left: 0 !important;
    margin-left: 0 !important
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c code:active>* {
    display: block
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c>strong:first-child {
    color: var(--header-primary);
    font-weight: 600;
    font-size: 16px
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c>strong:first-child>u {
    text-decoration: none
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c>.inline:first-child {
    color: var(--header-primary) !important;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background: 0 0
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c pre {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    background: 0 0;
    border: none
}

.chatContent_a7d72e[aria-label^=css-snippets] .hljs {
    padding: 2px .5em .5em .5em !important
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c pre code {
    height: 24px;
    width: 100%;
    font-size: 12px;
    -webkit-user-select: all;
    user-select: all;
    cursor: pointer
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c pre code .bd-codeblock-language,
.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c pre code::-webkit-scrollbar {
    display: none
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c pre code:active>* {
    opacity: 1
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea .markup_d6076c pre code:active {
    max-height: 332px;
    height: fit-content;
    width: 280px;
    font-size: 12px;
    opacity: 1
}

.chatContent_a7d72e[aria-label^=css-snippets] .container_b558d0 {
    order: -1 !important;
    width: 328px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 32px;
    padding: 0 !important;
    position: absolute
}

#app-mount .chatContent_a7d72e[aria-label^=css-snippets] .messageListItem_d5deea .avatar_ec86aa {
    transform: translateY(-55px) !important;
    top: unset !important;
    left: unset !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 12px;
    box-shadow: 0 0 0 4px var(--background-secondary-alt)
}

#app-mount .chatContent_a7d72e[aria-label^=css-snippets] .messageListItem_d5deea:focus .avatar_ec86aa,
#app-mount .chatContent_a7d72e[aria-label^=css-snippets] .messageListItem_d5deea:hover .avatar_ec86aa {
    box-shadow: 0 0 0 4px var(--background-tertiary)
}

.chatContent_a7d72e[aria-label^=css-snippets] .header_ec86aa::after {
    display: none
}

.chatContent_a7d72e[aria-label^=css-snippets] .header_ec86aa {
    z-index: 0;
    position: absolute;
    bottom: 16px;
    left: 12px
}

.chatContent_a7d72e[aria-label^=css-snippets] .timestampInline_ec86aa {
    margin-left: .25rem !important
}

.chatContent_a7d72e[aria-label^=css-snippets] .headerText_ec86aa {
    display: none
}

.chatContent_a7d72e[aria-label^=css-snippets] .altText_cf58b5 {
    position: fixed;
    top: 0;
    right: 16px
}

.chatContent_a7d72e[aria-label^=css-snippets] .messageContent_ec86aa>.timestamp_ec86aa {
    position: fixed;
    bottom: 4px;
    left: 16px
}

.chatContent_a7d72e[aria-label^=css-snippets] .contents_ec86aa {
    width: 100%;
    padding: calc(180px + 27px) 16px 32px !important;
    overflow: hidden;
    background: 0 0
}

.chatContent_a7d72e[aria-label^=css-snippets] .contents_ec86aa::after {
    display: block;
    position: absolute;
    content: '';
    z-index: -1;
    height: 180px;
    width: 100%;
    top: 0;
    right: 0;
    background: url(https://betterdiscord.app/resources/ui/content_thumbnail.svg) no-repeat center/40%, var(--background-tertiary)
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea.selected_d5deea,
.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea:hover {
    background: 0 0 !important
}

.chatContent_a7d72e[aria-label^=css-snippets] .repliedMessage_ec86aa {
    position: absolute;
    left: 16px;
    top: 4px;
    width: 270px
}

.chatContent_a7d72e[aria-label^=css-snippets] .repliedMessage_ec86aa::before {
    display:none
}

.chatContent_a7d72e[aria-label^=css-snippets] .message_d5deea>.buttonContainer_ec86aa>.container_a3b500 {
    top: 8px;
}
