.chatContent__5dca8[aria-label^=css-snippets] .divider__8cf56 {
    display: none
}

.chatContent__5dca8[aria-label^=css-snippets] .scrollerInner__059a5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(328px, 328px));
    column-width: 328px !important;
    grid-gap: 16px;
    padding-left: 16px
}

.chatContent__5dca8[aria-label^=css-snippets] .messageListItem__6a4fb {
    background: var(--background-secondary-alt);
    border-radius: 8px;
    max-width: 328px;
    min-height: 375px;
    overflow: hidden;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.chatContent__5dca8[aria-label^=css-snippets] .messageListItem__6a4fb:focus,
.chatContent__5dca8[aria-label^=css-snippets] .messageListItem__6a4fb:hover {
    background: var(--background-tertiary);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    box-shadow: var(--elevation-high);
    -webkit-box-shadow: var(--elevation-high)
}

.chatContent__5dca8[aria-label^=css-snippets] .messagesWrapper_ea2b0b .wrapper__09ecc {
    border-radius: 8px;
    padding: 0 !important;
    margin-top: 0 !important
}

.chatContent__5dca8[aria-label^=css-snippets] .groupStart__56db5::after,
.chatContent__5dca8[aria-label^=css-snippets] .imageDetails-1t6Zms,
.chatContent__5dca8[aria-label^=css-snippets] .message__80c10::before {
    display: none
}

.chatContent__5dca8[aria-label^=css-snippets] .container_dbadf5 {
    justify-content: center;
    align-content: space-evenly
}

.chatContent__5dca8[aria-label^=css-snippets] .imageWrapper_fd6587 {
    display: flex;
    align-items: center
}

.chatContent__5dca8[aria-label^=css-snippets] .container_dbadf5>:not(:last-of-type) {
    margin-right: 0
}

.chatContent__5dca8[aria-label^=css-snippets] .imageWrapper_fd6587[style*="height: 300px;"] {
    transform: scale(.6)
}

/* Discord added this :D */
/* .chatContent__5dca8[aria-label^=css-snippets] .embedWrapper_c143d9,
.chatContent__5dca8[aria-label^=css-snippets] .embedVideo__0c65b{
    height: auto !important;
    width: unset !important
}

.chatContent__5dca8[aria-label^=css-snippets] .embedWrapper_c143d9 .clickableWrapper__64072 img,
.chatContent__5dca8[aria-label^=css-snippets] .embedWrapper_c143d9 video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100%
} */

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 {
    color: var(--header-secondary);
    font-size: 14px;
    width: calc(328px - 32px);
    padding-left: 0 !important;
    margin-left: 0 !important
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 code:active>* {
    display: block
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664>strong:first-child {
    color: var(--header-primary);
    font-weight: 600;
    font-size: 16px
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664>strong:first-child>u {
    text-decoration: none
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664>.inline:first-child {
    color: var(--header-primary) !important;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background: 0 0
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 pre {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    background: 0 0;
    border: none
}

.chatContent__5dca8[aria-label^=css-snippets] .hljs {
    padding: 2px .5em .5em .5em !important
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 pre code {
    height: 24px;
    width: 100%;
    font-size: 12px;
    -webkit-user-select: all;
    user-select: all;
    cursor: pointer
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 pre code .bd-codeblock-language,
.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 pre code::-webkit-scrollbar {
    display: none
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 pre code:active>* {
    opacity: 1
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10 .markup_a7e664 pre code:active {
    max-height: 332px;
    height: fit-content;
    width: 280px;
    font-size: 12px;
    opacity: 1
}

.chatContent__5dca8[aria-label^=css-snippets] .container_dbadf5 {
    order: -1 !important;
    width: 328px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 32px;
    padding: 0 !important;
    position: absolute
}

#app-mount .chatContent__5dca8[aria-label^=css-snippets] .messageListItem__6a4fb .avatar__08316 {
    transform: translateY(-55px) !important;
    top: unset !important;
    left: unset !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 12px;
    box-shadow: 0 0 0 4px var(--background-secondary-alt)
}

#app-mount .chatContent__5dca8[aria-label^=css-snippets] .messageListItem__6a4fb:focus .avatar__08316,
#app-mount .chatContent__5dca8[aria-label^=css-snippets] .messageListItem__6a4fb:hover .avatar__08316 {
    box-shadow: 0 0 0 4px var(--background-tertiary)
}

.chatContent__5dca8[aria-label^=css-snippets] .header__39b23::after {
    display: none
}

.chatContent__5dca8[aria-label^=css-snippets] .header__39b23 {
    z-index: 0;
    position: absolute;
    bottom: 16px;
    left: 12px
}

.chatContent__5dca8[aria-label^=css-snippets] .timestampInline__470e0 {
    margin-left: .25rem !important
}

.chatContent__5dca8[aria-label^=css-snippets] .headerText_f47574 {
    display: none
}

.chatContent__5dca8[aria-label^=css-snippets] .altText__6dd8b {
    position: fixed;
    top: 0;
    right: 16px
}

.chatContent__5dca8[aria-label^=css-snippets] .messageContent__21e69>.timestamp_cdbd93 {
    position: fixed;
    bottom: 4px;
    left: 16px
}

.chatContent__5dca8[aria-label^=css-snippets] .contents_f41bb2 {
    width: 100%;
    padding: calc(180px + 27px) 16px 32px !important;
    overflow: hidden;
    background: 0 0
}

.chatContent__5dca8[aria-label^=css-snippets] .contents_f41bb2::after {
    display: block;
    position: absolute;
    content: '';
    z-index: -1;
    height: 180px;
    width: 100%;
    top: 0;
    right: 0;
    background: url(https://betterdiscord.app/resources/ui/content_thumbnail.svg) no-repeat center/40%, var(--background-tertiary)
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10.selected_fd9051,
.chatContent__5dca8[aria-label^=css-snippets] .message__80c10:hover {
    background: 0 0 !important
}

.chatContent__5dca8[aria-label^=css-snippets] .repliedMessage_e2bf4a {
    position: absolute;
    left: 16px;
    top: 4px;
    width: 270px
}

.chatContent__5dca8[aria-label^=css-snippets] .repliedMessage_e2bf4a::before {
    display:none
}

.chatContent__5dca8[aria-label^=css-snippets] .message__80c10>.buttonContainer_dd4b62>.container__9d616 {
    top: 8px;
}