@import url(https://maendisease.github.io/BetterDiscordStuff/css/diseaseControl.css);

#app-mount>.errorPage-2pZ2Kq::before,
#app-mount>.errorPage-2pZ2Kq::after {
    position: absolute;
    padding: 8px;
    margin: 16px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    font-weight: 500;
    word-break: break-word;
    white-space: pre-wrap;
    z-index: 1002;
}

.platform-osx #app-mount>.errorPage-2pZ2Kq::before {
    margin-top: 35px;
}

/* Historical */
#app-mount>.errorPage-2pZ2Kq::before {
    top: 0;
    background: var(--info-positive-background);
    border: 1px solid var(--info-positive-foreground);
    color: var(--info-positive-text);
    content: '\
[2022-07-07] [BetterMessageLinks] Fixed in v1.4.12 - Crash when loading message links.\a
';

}

/* Current Warning */
#app-mount>.errorPage-2pZ2Kq::after {
    bottom: 0;
    background: var(--info-warning-background);
    border: 1px solid var(--info-warning-foreground);
    color: var(--info-warning-text);
    content: '\
[2022-05-25] [AvatarsEverywhere] Crash when loading server.\a
[2022-07-11] [FavoriteMedia] Crash when clicking a FavoriteMedia button containing saved media.\a
[2022-07-13] [PreviewMessageLinks] Crash when loading message links. Quit and reopen Discord, then disable in settings.\a
';

}