@import url(https://maendisease.github.io/BetterDiscordStuff/css/diseaseControl.css);

#app-mount>.errorPage-2pZ2Kq::before,
#app-mount>.errorPage-2pZ2Kq::after {
    position: absolute;
    padding: 8px;
    margin: 16px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    font-weight: 500;
    word-break: break-word;
    white-space: pre-wrap;
    z-index: 1002;
}

.platform-osx #app-mount>.errorPage-2pZ2Kq::before {
    margin-top: 35px;
}

/* Historical */
#app-mount>.errorPage-2pZ2Kq::before {
    top: 0;
    background: var(--info-positive-background);
    border: 1px solid var(--info-positive-foreground);
    color: var(--info-positive-text);
    content: '\
[To Open Plugins Folder] [Windows] Press win+r and type and paste %appdata%/betterdiscord/plugins\a
[2022-09-29] [BetterSyntax] Crash when viewing codeblocks. Update to latest.\a
[2022-10-11] [ZeresPluginLibrary] Crash from showing confirmation modal. Update to v2.0.7\a
[2022-10-11] [BetterDiscord] Crashing on startup. Reinstall BD to v1.0.8\a
';

}

/* Current Warning */
#app-mount>.errorPage-2pZ2Kq::after {
    bottom: 0;
    background: var(--info-warning-background);
    border: 1px solid var(--info-warning-foreground);
    color: var(--info-warning-text);
    content: '\
[2022-10-13] [TypingUserAvatars] Crashing on messages. Disable or remove. Conflicts with BetterRoleColors.\a
[2022-10-13] [GuildAndFriendRemovalAlerts] Crashing on VC. Disable or remove.\a
[2022-10-17] [ZeresPluginLibrary] Crash from loading modals. Fixed in upcoming Zlib update. \a
';

}