.bd-addon-list #Float-card::before,
.panels__58331>.container_ca50b9 .flex_f5fbb7> :last-child>div::before {
    content: '';
    position: fixed;
    background: url(https://i.imgur.com/SqLL5VQ.png) center/600px no-repeat;
    bottom: 30px;
    right: 30px;
    width: 600px;
    height: 144px;
    border-radius: 8px;
    border: 1px solid #f04747;
    box-shadow: var(--elevation-high);
    z-index: 999;
    pointer-events: none;
    animation: warningVisibility 0s 3s forwards;
    visibility: hidden;
}

.bd-addon-list #Float-card .bd-description::before {
    content: "Remove Minimum Size. ";
    font-weight: 700;
}

@keyframes warningVisibility {
    to {
        visibility: visible;
    }
}