/**
 * @name Float
 * @version 0.0.8
 * @author Disease
 * @authorId 678469587444170762
 * @description A practical compact Discord
 * @source https://github.com/maendisease/Float
 * @invite BpwYF5UyHu
*/

/* Source */
@import url("https://maendisease.github.io/Float/src/base.css"); 

/* optional */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/wellThisIsAwkwardSoTryThis.css);

/* Max width values of when each part of Float activates */
@import url("https://maendisease.github.io/Float/src/700px.css") (max-width: 700px);
@import url("https://maendisease.github.io/Float/src/400px.css") (max-width: 400px);
@import url("https://maendisease.github.io/Float/src/300px.css") (max-width: 300px);

/* Imports */
/* SettingsIcons by mwittrien, recommended to comment out/remove this if your theme uses custom settings icons. */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css") (max-width: 700px);

:root {
    /* MinimalMode */
    --header-height: 40px;
    --guildbar-width: 56px;
    --sidebar-width: 240px;

    /* Float */
    --float-app-opacity: 100%;
    --float-app-transition-speed: 0.5s;
    --float-channel-width: 240px;
    --float-sidebar-hide-width: 40px;
    --float-guildbar-hover-speed: 0.5s;
}