@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.chat__52833,
.container_bd15da {
    padding: 34px 44px 34px 44px;
}

.chat__52833::after,
.container_bd15da::after {
    content: "";
    position: absolute;
    margin: 24px;
    inset: 0;
    z-index: 999;
    pointer-events: none;
    border: 2px solid transparent;
    border-image-source: url(https://i.imgur.com/mbu5lLz.png);
    border-image-slice: 113;
    border-image-width: 100px;
    border-image-outset: 0;
    border-image-repeat: round;
}

.children_cde9af {
    position: absolute;
    width: 100%;
    overflow: visible;
}

.title__84e16 {
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
}

.children_cde9af>.iconWrapper_de6cd1 {
    display: none;
}

.title__84e16::before {
    content: '00:';
}

.forumPostTitle__578d2 {
    font-size: 16px;
}
.forumPostTitle__578d2::before {
    content: '01:';
}

.topic__16ae3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 12px;
    max-width: 190px;
    font-size: 22px;
    line-height: 32px;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--header-primary);
}

.topic__16ae3::before {
    content: '...';
}

.children_cde9af .divider_bdb894 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 32px;
    background: url(https://i.imgur.com/EybtuXn.png) no-repeat;
    transform: translateX(calc(-15px / 2));
    width: 15px;
    height: 14px;
}

.toolbar__62fb5 {
    position: absolute;
    right: 8px;
}
