/* Mac titlebar */
.platform-win .typeWindows_e41dab {
    z-index: 102;
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 1px;
    width: calc(65px + 12px);
    left: 0;
    margin: 0;
    padding-top: 11px;
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows_e41dab .wordmark__5b8c9 {
    top: 11px;
    left: 11px;
    width: 52px;
    height: 12px;
    padding: 0;
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows_e41dab .wordmark__5b8c9 g {
    display: none;
}

.platform-win .typeWindows_e41dab .winButtonClose__6396d.winButton_f17fb6 {
    margin-left: 10px;
}

.platform-win .typeWindows_e41dab .winButton_f17fb6 {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    border-radius: 15px;
    background-color: var(--background-primary);
    background-size: 0;
    -webkit-app-region: no-drag;
}

.platform-win.theme-light .typeWindows_e41dab .winButton_f17fb6 {
    background-color: hsl(var(--accent-hue), 2%, 83%);
}

.platform-win .typeWindows_e41dab .winButton_f17fb6 svg {
    display: none;
}

.platform-win.app-focused .typeWindows_e41dab:hover div.winButton_f17fb6 {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.platform-win.app-focused .typeWindows_e41dab .winButtonClose__6396d {
    background-color: hsl(2, 100%, 67%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(2n) {
    background-color: hsl(40, 98%, 62%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}

.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(3n) {
    order: 3;
    background-color: hsl(134, 68%, 47%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

/* Channeltabs */
.platform-win #channelTabs-container {
    margin-top: 29px;
}

.platform-win #channelTabs-container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 29px;
    margin-left: 62px;
    -webkit-app-region: drag;
}
